<header class="container">
	<div class="row fill bottom padding margin">
		<div class="col-md-3 col-md-push-9 col-xs-12 clearfix" style="z-index:1;">
			<div class="btn-login-group">
				<div class="col-xs-6 col-md-offset-2 col-md-5" id="signin">
					<button type="button" id="popover_signin" class="btn btn-primary btn-small btn-login" data-toggle="popover" data-placement="bottom" data-original-title="Sign In:" title="">Sign In</button>
				</div>
				<div id="login-popover-content" class="hidden">
					<form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="new_user" method="post" name="new_user">
						<div style="margin:0;padding:0;display:inline">
							<input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="aDTwTXd8bVZy/Ykve22U/q3fiwK2t3XC078rwYAlRBI=">
						</div>
						<div>
							<label for="user_username">Username</label><br>
							<input autofocus="autofocus" class="form-control" id="user_username" name="user[username]" type="email" value="">
						</div>
						<div>
							<label for="user_password">Password</label><br>
							<input class="form-control" id="user_password" name="user[password]" type="password">
						</div><br>
						<div class="input-group">
							<span class="input-group-addon"><input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"></span> <label class="form-control" for="user_remember_me">Remember me</label>
						</div><br>
						<div>
							<input class="btn btn-primary btn-block" name="commit" type="submit" value="Sign in">
						</div>
					</form>
				</div>
				<div class="col-xs-6 col-md-5" id="signup">
					<a class="btn btn-primary btn-small btn-login" href="/users/sign_up" id="signup">Sign Up</a>	
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-push-8 col-md-12 col-md-push-0" id="search">
					<form role="search">
				      <div class="form-group">
				        <input type="text" class="form-control" placeholder="Search">
				      </div>
				    </form>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12" id="branding">
			<div>
				<a href="/">
					<img id="logoback" src="/assets/header-bg.png" />
					<img id="logo" src="/assets/header-logo.png">
				</a>
			</div>
		</div>
	</div>
	<nav class="row nav fill bottom padding margin" role="navigation">
		<div class="col-md-10 col-md-push-1 col-xs-12">
			<ul id="menu" class="clearfix">
				<li class="col-md-3 col-md-offset-1 col-xs-12 shows">
					<p><a href="#shows">Shows</a></p>
				</li>
				<li class="col-md-4 col-xs-12 channels">
					<p><a href="#channels">Channels</a></p>
				</li>
				<li class="col-md-3 col-xs-12 newest">
					<p><a href="#newest">Newest</a></p>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="row">
	<div class="col-xs-12">
		<p id="notice"></p>
	</div>
</div>

<script>  
$(function (){ 
	$("#popover_signin").popover({ 
		html : true,
		container: 'body', 
		content: function(){return $("#login-popover-content").html();}
	});  
});  
</script>