<section class="wrapper">
    
      
  <%= render 'layouts/promo' %>


  <%= render 'layouts/most_popped' %>


  <div class="row clearfix">

    <div class="col-md-8 column separator">
      <%= render 'layouts/promoted' %>
    </div>
    
    <div class="col-md-4 column">
      <%= render 'layouts/ads/watch_and_find' %>
    </div>

  </div>
  
</section>