<li class="<% if(@active=='home') %> active<% end %>">
	<a href="/">Home</a>
</li>
<li class="<% if(@active=='shows') %> active<% end %>">
	<a href="/shows">Shows</a>
</li>
<li class="<% if(@active=='friends') %> active<% end %>">
	<a href="/friends">Friends</a>
</li>
<li class="<% if(@active=='blog') %> active<% end %>">
	<a href="/posts"><span class="lowercase">B</span>log</a>
</li>
<!-- <li class="<% if(@active=='tournaments') %> active<% end %>">
	<a href="<%= url_for(Tournament.last) %>">Tournament</a>
</li> -->
