<li class="<% if(@active=='shows') %> active<% end %>">
	<a href="/shows">Shows</a>
</li>
<li class="<% if(@active=='channels') %> active<% end %>">
	<a href="/channels">Channels</a>
</li>
<li class="<% if(@active=='shorts') %> active<% end %>">
	<a href="/shorts">Shorts</a>
</li>
<li class="<% if(@active=='blog') %> active<% end %>">
	<a href="/posts"><span class="lowercase">B</span>log</a>
</li>