<!-- promo start -->
<div class="row clearfix row-featured">
	<!-- large image right slideshow -->
	<div class="col-md-12 col-lg-8 column">
		<div class="slider slider-home">
			<ul>
				<% @features.each do |feature| %>
					<% @dur = feature.seconds.nil? ? "" : "duration=#{feature.seconds}"%>
					<li <%= @dur %>><%= feature.content.html_safe %></li>
				<% end %>

			</ul>
		</div>
	</div>
	<div class="col-md-4 hidden-sm hidden-xs hidden-md column">
			<%= render 'layouts/ads/watch_and_find' %>
		</div>
	<!-- end large image right slideshow -->
	

	
	<!-- begin vertical carousel -->	
	
	<!-- end of vertical carousel -->
	<div class="corners"></div>
</div>
<!-- end show promo -->