<% unless current_user.nil? %>
	<% unless current_user == user %>
	    <div id="follow_user-<%=@user.id%>">
			<% if current_user.following?(user) %>
				<%= link_to(unfollow_user_path(user), 
		            :remote => true, 
		            :title => "Stop Following '#{user.username}'", 
		            :data => {:toggle=>"tooltip"} ) do %>
						 <button class="plus voted"></button>
				<% end %>						

			<% else %>
				<%= link_to(follow_user_path(user),
		            :remote => true, 
		             :title => "Follow '#{user.username}'", 
		            :data => {:toggle=>"tooltip"}) do %>

		          <button class="plus"></button>
		        <% end %>
			
			<% end %>
		</div>
	<% end %>
<% end %>