<div id="follow_user-<%= user.id %>" class="follow-show">
	<% if current_user.nil?%>
		<a class="pop-button disabled" data-toggle="modal" href="#becomeMember"><div class="plus"></div></a>

	<% else %>
		<% if current_user == user %>

		<% else %>
			<% if current_user.following?(user) %>
				<%= link_to(unfollow_user_path(user), 
		            :remote => true, 
		            :class => 'btn btn-primary', 
		            :title => "Stop Following '#{user.username}'", 
		            :data => {:toggle=>"tooltip"} ) do %>
						<span class="glyphicon glyphicon-plus follow"></span>
				<% end %>						

			<% else %>
				<%= link_to(follow_user_path(user),
		            :remote => true, 
		            :class => 'btn btn-primary', 
		            :title => "Follow '#{user.username}'", 
		            :data => {:toggle=>"tooltip"}) do %>

		          <span class="glyphicon glyphicon-plus"></span>
		        <% end %>
			<% end %>
		<% end %>
	<% end %>
</div>
