<li class="match theme-green">
  <div class="panel">
    <div class="panel-head">
      <span class="text-center player-label">
        <%= (match && match.player_one) ? match.player_one.title : "TBD" %>
      </span>
      <span class="text-center player-separator">vs</span>
      <span class="text-center player-label">
        <%= (match && match.player_two) ? match.player_two.title : "TBD" %>
      </span>
    </div>
  </div>
  <div class="well">
    <h4 class="text-center">
      <% if (match && match.start) %>
      From <%= match.start.strftime "%b %d" %> to
      <%= match.finish.strftime "%b %d" %></h4>
    <% else %>
    TODO empty matches
    <% end %>
  </div>
</li>
