<div class='button-follow follow_show-<%= tournament.id %>'>



  <a class='btn btn-navy disabled' data-toggle="modal" data-target="#become_member"  href='#'>
    <h5>FOLLOW</h5>
  </a>


</div>
</div><!-- col-half2 -->
