<%  if(!current_user.nil? && !episode.nil?) %>
	<div id="pop_episode-<%= @episode.id %>" class="pop-episode">
		<% if(current_user.voted_up_on? episode) %>
			<%= link_to(unpop_episode_path(episode), 
					:remote => true, 
			        :class => 'pop-button followed', 
					:data => {:toggle=>"tooltip"} ) do %>
					<div class="flash"></div>

			<%end%>

		<% else %>

			<%= link_to(pop_episode_path(episode), 
					:remote => true, 
			        :class => 'pop-button', 
					:data => {:toggle=>"tooltip"} ) do %>
					<div class="flash"></div>
					
			<% end %>

		<% end %>

	</div>
<% end %>