<div class="pop-button pop-episode pop_episode-<%= episode.id %> " data-episode="<%= episode.id %> ">
	<% if(!current_user.nil? && (current_user.voted_up_on? episode)) %>
	
		<%= link_to(unpop_episode_path(episode), 
				:remote => true, 
		        :class => 'pop-button followed', 
		        # :content => "Click to unPOP #{episode.title}!", 
				:data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true,  :content => "Click to unPOP <b>'#{episode.title}!'</b>",} 
				) do %>
				<div class="flash voted"></div>

		<%end%>

	<% else %>

		<%= link_to(pop_episode_path(episode), 
				:remote => true, 
		        :class => 'pop-button', 
		        # :content => "Click to POP this #{episode.title}!",
				:data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true, :content => "Click to POP  <b>'#{episode.title}!'</b>"} 
				) do %>
				<div class="flash"></div>
		<% end %>

	<% end %>
</div>