<%  if(!current_user.nil? && !episode.nil?) %>
	<div class="pop_episode-<%= @episode.id %>">
		<% if(current_user.voted_up_on? episode) %>
			<%= link_to(unpop_episode_path(episode), 
					:remote => true, 
					:data => {:toggle=>"tooltip"} ) do %>

				 <button class="flash voted"></button>
			<%end%>

		<% else %>

			<%= link_to(pop_episode_path(episode), 
					:remote => true, 
					:data => {:toggle=>"tooltip"} ) do %>
					
				 <button class="flash"></button>
			<% end %>

		<% end %>

	</div>
<% end %>