<%  if(!current_user.nil? && !episode.nil?) %>
	<div id="pop_episode-<%= @episode.id %>">
		<% if(current_user.voted_up_on? episode) %>
			<%= link_to(unpop_episode_path(episode), 
					:remote => true, 
					:class => 'btn btn-primary', 
					:data => {:toggle=>"tooltip"} ) do %>

				<span class="glyphicon glyphicon-flash pop"></span>
			<%end%>

		<% else %>

			<%= link_to(pop_episode_path(episode), 
					:remote => true, 
					:class => 'btn btn-primary', 
					:data => {:toggle=>"tooltip"} ) do %>
					
				<span class="glyphicon glyphicon-flash "></span>
			<% end %>

		<% end %>

	</div>
<% end %>