<div class="main show episode">
  <div class="container">
    <div class="content">

      

<!-- top most / breadcrumb area -->
      <div class="row bpop-breadcrumb slight-shadow">
        <div class="col-lg-3 bpop-show-title text-right"><h3><%= @episode.show.title %></h3></div> 
        <div class="col-lg-6 bpop-show-description"><%= @episode.show.description.html_safe %></div>
        <div class="col-lg-3 bpop-show-action">
        </div>
      </div>
<!-- end top most / breadcrumb area -->
      
<!-- mid section player / carousel -->
      <div class="row">
        <!-- video player area -->
        <div class="col-lg-9 show-player">
          <%= @episode.embed.code.gsub("{{unbound view.dimensions.width}}", "100%").gsub("{{unbound view.dimensions.height}}", "100%").gsub("{{unbound view.autoplayFlag}}", "1").gsub("{{unbound view.videoId}}", @episode.video).html_safe %>

        </div>
        <!-- vertical carousel -->
        <div class="col-lg-3 show-popped-carousel">
          <div class="col-lg-12 show-most-popped-header"></div>
          <div class="col-lg-12 show-most-popped-controls">
            <span id="home-carousel-prev"></span> | <span id="home-carousel-next"></span>
          </div>
          <ul class="bxslider show-most-popped-carousel">
          </ul>
        </div>
      </div>
<!-- end mid section player / carousel -->


<!-- lower listings -->
      <div class="row show-bottom-section">

        <div class="col-lg-8 show-lower-left">
          
          <div class="media-list list-group">
            <% @episode.show.episodes.each do |ep| %>

              <%= render partial: "layouts/horizontal_slide", :locals => {
                :slide_active => (@episode == ep),
                :slide_badge => '23,333',
                :slide_title => ep.title, 
                :slide_text => ep.description.html_safe, 
                :slide_image => image_tag(ep.image, :alt => ep.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '125'), 
                # :slide_url => show_path(Episode.friendly.find(episode.id))
                :slide_url => show_episode_path(@episode.show, Episode.friendly.find(ep.id))
                } %>
            <% end %>

          </div>
        </div>

        <div class="col-lg-4 show-lower-right">
        </div>
      </div>

<!-- end lower listings -->







    </div>
  </div>
</div>