<div class="row clearfix">
	<div class="col-md-12 column">
<!-- Homepage Leaderboard -->
		<div id='div-gpt-ad-1401977811996-0'>
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1401977811996-0'); });
		</script>
		</div>
	</div>
</div>