<% if  @dfp_banner_ad.nil? || @dfp_banner_ad.empty? %>
	<div class="wrapper-advert">
		<div id='<%= ad_id %>' class='webad-top-horizontal hidden-xs'>
			<script type='text/javascript'>
				googletag.cmd.push(function() { googletag.display('<%= ad_id %>'); });
			</script>
		</div>
	</div>
<% else %>
	<div class="wrapper-advert">
		<%= @dfp_banner_ad.html_safe %>
	</div>
<% end %>