<!-- <div class="row clearfix">
	<div class="col-md-12 column">
		<div id='div-gpt-ad-1402367843290-0'>
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402367843290-0'); });
		</script>
		</div>
	</div>
</div> -->
<!-- Shows_Single_300x100_1 -->
<div id='div-gpt-ad-1412663594152-0' style='width:300px; height:100px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1412663594152-0'); });
</script>
</div>