<div class="row clearfix">
	<div class="col-md-12 column">
	<!-- Homepage_MedRed -->
		<div id='div-gpt-ad-1402367843290-0'>
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1402367843290-0'); });
		</script>
		</div>
	</div>
</div>