<div class="ad">
	<div class="well well-frame">

		<div class="row clearfix">

			<div class="col-lg-12 col-md-12 col-sm-8 col-xs-12">
				<h2>Download the <span class="lowercase">battery</span>POP <br />Watch and Find App</h2>
					<div class="row ">
						<div class="col-sm-4 col-md-12">
							<a href="https://itunes.apple.com/us/app/watch-find-batterypop-videos/id737430902?mt=8" class="badge badge-itunes">iTunes</a>
						</div>
						<div class="col-sm-4 col-md-12">
							<a href="https://play.google.com/store/apps/details?id=com.nuracode.batterypop&hl=en" class="badge badge-google">Google Play</a>
						</div>
						<div class="col-sm-4 col-md-12">
							<a href="http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dmobile-apps&field-keywords=batterypop" class="badge badge-amazon">Amazon Store</a>
						</div>


					</div><!-- row -->

			</div><!-- col -->
			<div class="col-lg-12 col-md-12 col-sm-4 col-xs-12">
				<%= image_tag("ads/bpop_app_image.png") %>
			</div>

		</div>
	</div>
</div>