<div class="panel panel-default">
<center>
  <div class="panel-body ad">
   <h3>Download the batteryPOP</h3>

	<%= image_tag("ads/bpop_app_image.png") %>

   <h3>Watch and Find App!</h3>



<%= link_to image_tag("ads/AppStoreLogo.original_sm.png"), "https://itunes.apple.com/us/app/watch-find-batterypop-videos/id737430902?mt=8", :target => "_blank" %>
<%= link_to image_tag("ads/get_it_on_play_sm.png"), "https://play.google.com/store/apps/details?id=com.nuracode.batterypop&hl=en", :target => "_blank" %>
<%= link_to image_tag("ads/amazonappstore-black_badge_sm.png"), "http://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Dmobile-apps&field-keywords=batterypop", :target => "_blank" %>

  </div>
</center>
</div>