<div class="main">
	<div class="container">
	    <div class="content">
	    	<div class="row">
	    		<div class="col-md-3">
<%= render 'layouts/about_sidebar' %>
				</div>
	    		<div class="col-md-7">

<h1>batteryPOP: THE SAFE PLACE FOR FREE KIDS SHOWS</h1>
<p>
Founded by a couple of guys from Nickelodeon, batteryPOP features a wide variety of amazing videos for kids, cartoons for kids, music videos for kids, blogs for kids, video game walkthroughs for kids (see where we’re going with this?), and much, much more! All our short videos are selected by the batteryPOP team because they're safe videos, because they provide age appropriate content, and because they’re totally awesome!  And batteryPOP always stays up to date on what’s popular, like Rainbow Loom videos, Minecraft videos, LEGO videos…if it’s interesting to kids, we’ve got it!
</p>
<p>
Once you’ve watched a video, if you like it, <strong>POP IT</strong>! That’s how you tell us you like what you see and that you want to see more.  
</p><p>
If you want to share a video with a friend, sign up (the sign up button is up there on the top right) and make a profile page. Keep your friends up to date on what you’re watching, and they’ll do the same for you. Soon you’ll start discovering all kinds of great shows and shorts you might not have heard of otherwise! Who knows? The next <strong>Spongebob Squarepants</strong> or <strong>Good Luck Charlie</strong> might already be on batteryPOP!
</p>
 
<p>
So have fun, watch as much as you want, and don’t forget to take a break to go play outside or get your homework done, because we’ll be here when you get back.
</p>
 
<p>
<h3>Enjoy!</h3>
</p>

	    		</div>


				
			</div>
	    </div>	
	 <a href="https://plus.google.com/111613426507812683994" rel="me" style="color: white;">Google+</a>
	</div>
</div>

