<div class="main">
	<div class="container">
	    <div class="content">
	    	<div class="row">
	    		<div class="col-md-3">
<%= render 'layouts/about_sidebar' %>
				</div>
	    		<div class="col-md-7">

<h1>ADVERTISE ON BATTERYPOP!</h1>

Interested in advertising on batteryPOP? We offer a variety of opportunities, from :15 pre and mid-roll video ads, full sponsorship of batteryPOP original shows, and exclusive sponsored sections on batteryPOP. Our marketing partnerships team is ready to craft a custom opportunity to fit your brand.

<br />

Contact us at <a href="mailto://partners@batteryPOP.com">partners@batteryPOP.com</a>!

	    		</div>


				
			</div>
	    </div>
	</div>
</div>