<!DOCTYPE html>
<html>
  <head>
    <title>BatteryPop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="style.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-push-9 col-xs-12">
					<div class="row" id="login-bar">
						<div class="col-md-5 col-md-offset-2 col-xs-12" id="signin">
							<p><a href="#signin">Sign In</a></p>
						</div>
						<div class="col-md-5 col-xs-12" id="signup">
							<p><a href="#signup">Sign Up</a></p>
						</div>
					</div>
					<div class="row" id="search">
						<div class="col-md-12 col-xs-12">
							<form role="search">
						      <div class="form-group">
						        <input type="text" class="form-control" placeholder="Search">
						      </div>
						    </form>
						</div>	
					</div>	
				</div>
				<a href="/">
					<div class="col-md-6 col-xs-12" id="branding">
						<img id="logoback" src="images/header-bg.png" />
						<img id="logo" src="images/header-logo.png">
					</div>
				</a>
			</div>
			<div class="row">
				<nav role="navigation">
					<div class="col-md-10 col-md-push-1 col-xs-12">
						<ul id="menu" class="clearfix">
							<li class="col-md-3 col-md-offset-1 col-xs-12 shows">
								<p><a href="#shows">Shows</a></p>
							</li>
							<li class="col-md-4 col-xs-12 channels">
								<p><a href="#channels">Channels</a></p>
							</li>
							<li class="col-md-3 col-xs-12 newest">
								<p><a href="#newest">Newest</a></p>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</header>		



  </body>
</html>