<div class="main">
	<div class="container">
	    <div class="content">
	    	<div class="row">
	    		<div class="col-md-3">
<%= render 'layouts/about_sidebar' %>
				</div>
	    		<div class="col-md-7">

<h2>CALLING ALL ANIMATORS, PUPPETEERS, WRITERS, DIRECTORS, ACTORS, VOICE OVER ARTISTS, ILLUSTRATORS…</h2>
<br />
Well, you get the point. If you’re creative and you love the idea of creating for kids, then we want to work with you.
<br /><br />
batteryPOP provides you the opportunity to develop your ideas the way YOU want to develop them. We’re looking for original web series in all formats. Whether you have a finished show and you need a place to showcase it, you have one episode and want feedback, or you just have a sweet idea and no clue what to do with it, we’d love to work with you.
<br /><br />
batteryPOP can provide production assistance in a variety of ways. When your show is ready to go up on the site (and eventual mobile app), we’ll share revenues with you, plus you’ll receive free marketing and direct feedback from your audience. And if your web series becomes a hit on batteryPOP, we’ll help you get in front of networks and studios for development into long form properties.
<br /><br />
Interested, or just want to know more? Email us at <a href="mailto://creators@batterypop.com">creators@batterypop.com</a> and we’ll talk!
<br /><br />
Thanks all.
<br />
Greg & Taso

<br />




	    		</div>


				
			</div>
	    </div>
	</div>
</div>