<div class="main home">
	<div class="container">
		<div class="content">
			
			<%= render 'layouts/promo' %>
			<%= render 'layouts/most_popped' %>
			
			<div class="row fill bottom margin padding">
				<div class="col-lg-8 no-padding">
					<%= render 'layouts/promoted' %>
				</div>
				<div class="col-lg-4">
					<%= image_tag("ads/example.jpg", :class => 'img-responsive thumbnail') %>
				</div>
			</div>
			
		</div>
	</div>
</div>



<!-- home items inited -->
<script type="text/javascript">
	$(document).ready(function(){
	  $('.home-featured').bxSlider({
	  		mode: 'fade',
	  		speed: 1000,
		  	auto: true,
	  		video: true,
	  		responsive: true,
	  		touchEnabled: true, 
			controls:false,
	  		pager: true
		  }
	  	);
	  $('.home-side-carousel').bxSlider({
		  	nextSelector: '#home-carousel-down',
			prevSelector: '#home-carousel-up',
			nextText: 'DOWN', prevText: 'UP',
	  		responsive: true,
	  		touchEnabled: true,
	  		infiniteLoop: false,
	  		mode: 'vertical',
			slideMargin: 10,
			minSlides: 3,
			moveSlides: 1,
			pager: false
	  	});

	  $('.home-most-popped').bxSlider({
		  	nextSelector: '#home-mostpopped-next',
			prevSelector: '#home-mostpopped-prev',
			nextText: 'NEXT', prevText: 'PREV',
		  	minSlides: 2,
			maxSlides: 5,
			responsive: true,
	  		touchEnabled: true,
	  		slideMargin: 6,
	  		slideWidth: 220,
			moveSlides: 2,
			pager: false
	  	});

	  $('.home-promoted').bxSlider({
	  		nextSelector: '#home-promoted-next',
			prevSelector: '#home-promoted-prev',
			nextText: 'NEXT', prevText: 'PREV',
			infiniteLoop: false, 
		  	minSlides: 2,
			maxSlides: 4,
			slideWidth: 182,
			responsive: true,
	  		touchEnabled: true,
	  		slideMargin: 6,
			moveSlides: 2,
			pager: false
	  	});

	});
</script>