
<!-- Header and Nav -->

<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
  </div>
  <div class="large-9 columns">
    <ul class="button-group right round">
      <li><a href="#" class="tiny button secondary">Login</a></li>
      <li><a href="#" class="tiny button secondary">Register</a></li>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->

<div class="row">
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name"><!-- Leave this empty --></li>
		<li class="toggle-topbar menu-icon">
			<a href=""><span>Menu</span></a>
		</li> 
	  </ul>
	  	<section class="top-bar-section" style="left: 0%; "> 
	  		<ul class="right">
				<li class=""><a href="#">Shows</a></li>
				<li class=""><a href="#">Categories</a></li>
				<li class=""><a href="#">About</a></li>
				<li class=""><a href="#">Newest</a></li>
			</ul>
		</section>
	</nav>
</div>

<!-- END NAVIGATION ROW -->


<!-- Show promo / top main -->

<div class="row">
	<!-- <div class="promo-area"> -->
		<div class="large-3 columns">
			<!-- <div class="panel" style="maxHeight: 500px;"> 
				<h5>This is a regular panel.</h5> 
				<p>It has an easy to override visual style, and is appropriately subdued.</p> 
			</div> -->
			<!-- <div class="section-container vertical-nav" data-section>
			  <section>
			    <p class="title" data-section-title><a href="http://www.cnn.com" target="_blank">Section 1</a></p>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
			  </section>
			  <section>
			    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
			  </section>
			</div> -->
				
			 <div class="preloader"></div>	
				
			<ul class="large-block-grid-1 side-nav-">
			  <li><div class="panel"><img src="http://placehold.it/80x40&text=[img]"></div></li>
			   <li><div class="panel"><img src="http://placehold.it/80x40&text=[img]"></div></li>
			   <li><div class="panel"><img src="http://placehold.it/80x40&text=[img]"></div></li>
			   <li><div class="panel"><img src="http://placehold.it/80x40&text=[img]"></div></li>
			</ul>
		</div>
	  <div class="large-9 columns">
		   <div class="preloader"></div>
		  <ul data-orbit>
		    <li>
			    <img src="http://placehold.it/800x400&text=[img]">
			</li>
		</ul>
	  </div>
  <!-- </div> -->
</div>






<!-- POP3 Most popped videos -->
<div class="row">
	<div class="large-12 columns"> <hr>
		<h5  class="subheader">Most Popped Videos</h5>
		<ul class="large-block-grid-3">
			<li><img src="http://placehold.it/800x400&text=[img]"></li>
			<li><img src="http://placehold.it/800x400&text=[img]"></li>
		   	<li><img src="http://placehold.it/800x400&text=[img]"></li>
		</ul>
		<hr></div>
</div>



<!-- repeating show promo unit areas -->
<div class="row">
	<div class="large-8 columns">
		<div class="panel">
			 <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel">
			 <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
		</div>
	</div>
</div>



<div class="row">
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
  <div class="large-8 columns">
    <h4>This is a content section.</h4>
    <div class="row">
      <div class="large-6 columns">
        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      </div>
      <div class="large-6 columns">
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
      </div>
    </div>
  </div>
</div>


<!-- Third Band (Image Right with Text) -->

<div class="row">
  <div class="large-8 columns">
    <h4>This is a content section.</h4>

    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

  </div>
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
</div>


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>