<!DOCTYPE html>
<html>
  <head>
    <title>BatteryPop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="style.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 center-block">
				<% for current_number in 1..6 do %>
					<%= image_tag "batterypop-investors_0#{current_number}.jpg", :class => "img-responsive center-block" %>
				<% end %>
				</div>
			</div>
		</div>
	</header>		



  </body>
</html>