<div class="main">
	<div class="container">
	    <div class="content">
	    	<div class="row">
	    		<div class="col-md-3">
<%= render 'layouts/about_sidebar' %>
				</div>
	    		<div class="col-md-7">
<h1>BATTERYPOP PRIVACY POLICY</h1>

<br />
batteryPOP is an online destination for kids, and we take kids’ safety very seriously. Before you sign up for a POP ID, please review our privacy policy with an adult and make sure you understand what you are agreeing to. If you have any concerns, please contact us at info@batteryPOP.com and we will do our best to respond quickly.
 
<h3>1. The Information We Collect</h3>
<br />
batteryPOP (including batterypop.com and the batteryPOP mobile app) is fully committed to complying with the Children’s Online Privacy Protection Act (COPPA) of 1998.
<br />
batteryPOP limits our collection of information from children to non-personally identifiable information: screen name, password, password hint, age and gender. Under some circumstances, we may for a parent or guardian’s email address in order to provide notice to the parent that his or her child would like to participate in registration for certain interactive features. In order to provide appropriate customer service support for some features of our Site or improve our products, we may ask visitors to provide a first name, email address and limited information that is relevant to a customer service inquiry.
 <br />
<h3>2. Collection of Information by Third Parties</h3>
<br /> 
Our Site may contain links to other websites, including those of advertisers, whose information practices may be different from ours. Sometimes these third-party websites might conduct contests or sweepstakes that are promoted on our Site. Visitors should consult those other third-party website privacy notices, since those websites are not covered by our Privacy Policy and may follow different procedures.
<br />
Additionally, we and our advertisers may use third parties to serve or present the ads that appear on our Site and to conduct research about the advertisements. These third parties may view, edit or set their own tracking technologies to help present such advertisements and to measure and research the advertisements' effectiveness. The use of these technologies by third parties is subject to their own privacy policies and is not covered by our Privacy Policy. For more information about third-party ad servers and your ability to opt out of targeted advertising from such third-party ad servers generally, please see http://www.networkadvertising.org/.
<br />
<h3>3. Cookies and Tracking</h3>
 <br />
To enhance your online experience, our Site may use software technology such as "cookies", "web beacons", or other similar technologies (collectively referred to as "Tracking Technologies"). These Tracking Technologies are used to help tailor our content, allow visitors to move between associated websites without logging into each site, and other purposes related to our management of the Site. Cookies are small text files stored locally on your machine that help store user preferences. Web beacons or "clear gifs" are small pieces of code placed on websites used to collect advertising metrics, such as counting page views, promotion views or advertising responses. Such Tracking Technologies do not contain any personally identifiable information. We may use Tracking Technologies to determine how many visitors we have and how often they visit various sections of our Site and to improve or customize the content, offerings and advertisements on our Site. For example, we may use cookies to personalize your experience at our Site, such as to recognize you by your user name and when you return to our Site, and save your password and password-protective areas.
 <br />
We, our third-party service providers and/or partners may also use Tracking Technologies, such as cookies, to manage and measure the performance of advertisements displayed on or delivered by or through the Site. This also helps us, our service providers and partners to provide more relevant advertising. Moreover, we, our third-party service providers and/or our partners may use web beacons or clear.gifs or similar technologies to monitor the behavior and collect data about the visitors viewing a web page.
 <br />
Log data collected on web servers supply us with aggregate information about the number of visits to different pages on our site. We use such aggregate information to improve access to content based on our visitors' browsers and operating system types to make our content available to as many users as possible. We do not link the log data collected to personally identifiable information submitted by users when participating in our activities.
 <br />
You should be aware that third-party advertising service providers may also use their own Tracking Technologies and also collect aggregate log data independently from batteryPOP. Different rules might apply to the collection, use or disclosure of your information by third parties in connection with their advertisements, promotions and other websites you encounter on the Internet. The use of such technology by these third parties is within their control and not ours. Even if we have a relationship with a third party, we do not control those sites or their policies and practices regarding your information. This Privacy Policy does not cover any use of information that a third party advertising service provider or advertiser may collect from you. We encourage you to investigate and ask questions directly of them in this regard. Use of a third party's Tracking Technologies is subject to their own privacy policies.
 <br />
By agreeing to this Privacy Policy, you are consenting to the use of Tracking Technologies as set forth in this Privacy Policy. Although you can change your privacy preferences regarding the use of cookies and similar technologies through your browser, blocking all cookies and Tracking Technologies will affect your online experience and may prevent you from enjoying the full features offered at our Site. Please know that certain areas and features of batteryPOP can only be accessed in conjunction with cookies or other similar devices and you should be aware that disabling cookies or similar devices may prevent you from accessing some of our content.
 <br />
<h3>3. Use and Disclosure of Information</h3>
 <br />
batteryPOP does not disclose to third parties personally identifiable information that children provide. We never sell, rent, or otherwise share our visitors' personally identifying information with third parties without appropriate consent. In the event we use agents or contractors to provide services to our visitors, such as helping us conduct a sweepstakes, sending prizes to winners, or providing customer service related to the activities on the Site, in these cases we require the agent or contractor to keep the information confidential and to use it only for the specific services they are performing.
 <br />
We may on occasion combine information we collect through our Site with information that we collect from other sources. We sometimes use non-personally identifiable information that we collect to improve the design and content of our Site and to improve our visitors' experience on the Site. We may also aggregate, use and share non-personally identifiable information with third parties to analyze Site usage as well as to offer programs or services.
 <br />
We may disclose personally identifiable information in response to legal process, or in response to a law enforcement agency's request, or where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situation involving potential threats to the physical safety of any person, violations of our terms of use, to verify or enforce compliance of the policies governing our Site and applicable laws, or as otherwise required or permitted by law or consistent with legal requirements. In addition, we may transfer personally identifiable information about you if we or one of our business units are required by, sold to, or merged with another entity.
 <br />
<h3>4. International Transfer</h3>
 <br />
batteryPOP operates globally so it may be necessary to transfer any information provided to the Site internationally. In particular, the information provided will likely be transferred to and processed in the United States where many of our central databases operate. The data protection and other laws of other countries, such as the United States, may not be as comprehensive as those in your country. Please be assured that we take reasonable steps to ensure that your privacy is protected. By using this Site, you consent to your information being collected and used as set forth in this Privacy Policy.
 <br />
<h3>5. Security</h3>
 <br />
We have put in place appropriate physical, electronic, and managerial procedures in an effort to safeguard and help prevent unauthorized access, maintain data security, and correctly use the information we collect online. batteryPOP has taken steps to ensure that user information, when collected, is secure, including limiting the number of people who have physical access to our database servers as well as electronic security systems and password protections which guard against unauthorized access. However, when linking to other websites through batteryPOP, these other websites are governed by their own privacy policies or information collection practices, which may be substantially different from ours.
 <br />
<h3>6. Parental Access</h3>
 <br />
batteryPOP’s goal is to help parents ensure that their children have a safe and fun online experience. Parents can contact us by mailing or faxing us a signed form that allows the parent to review any identifiable information collected about their child, have this information deleted, and/or request that there be no further collection or use of their child's information.
 <br />
Please direct all inquiries to
batteryPOP LLC
220 West 93rd St, #13c
New York, NY 10025
Or by fax with cover letter to: (212) 448-0066
Email: info@batterypop.com
 <br />
<h3>7. Updates and Effective Date</h3>
 <br />
This Privacy Policy is effective as of October 9th, 2012. From time to time, we may update this Privacy Policy. We will notify you about material changes in the way we treat personally identifiable information by placing a notice on our Site. We encourage you to periodically check back and review this Privacy Policy so that you always will know what information we collect, how we use it and to whom we disclose it.
<br />
	    		</div>


				
			</div>
	    </div>
	</div>
</div>