<div class="main show">
	<div class="container">
		<div class="content">

			<div class="row show-bottom-section">

				<h1><%= @title %></h1>

				<div class="col-lg-12 ">
				<!--search results area -->

					<% if(@return.size) %>
						<h3><%= @return.size %> results found:</h3>
							<div class="media-list list-group">
								<% @return.each do | doc | %>
				
									<% if !doc.nil? %>



									 <%= render partial: "layouts/horizontal_slide", :locals => {
						                
						                :slide_title => "#{doc.searchable.title}".html_safe, 
						                :slide_text => "#{doc.content}".html_safe, 
						                :slide_image => image_tag(doc.searchable.thumb, :alt => doc.searchable.title, :class => 'img-responsive thumbnail media-object pull-left show-episode-image', :width => '125'), 
						               
										
										:slide_url => doc.searchable.link

						                } %>




									<% end %>


								<% end %>
							</div>
					<% else %>
						<h3>No results found.</h3>
					<% end %>

				<!-- end of search results area -->
				</div>

				<!-- <div class="col-lg-4 show-lower-right no-padding">
				</div> -->

			</div>
		</div>
	</div>
</div>