<section class="wrapper">

	

	<div class="row show-bottom-section">
		

		<h1><%= @title %></h1>

		<div class="col-lg-12">
		<!--search results area -->

			<% if(@return.size) %>
				<h3><%= @return.size %> results found:</h3>
				<div class="col-lg-12 show-lower-left">
					<div class="media-list list-group">
						<% @return.each do | doc | %>
		
							<% if !doc.nil?  && doc.searchable.search_valid?

								@img = image_tag(doc.searchable.thumb, :alt => doc.searchable.title, :class => 'img-responsive thumbnail media-object pull-left show-episode-image hidden-xs', :width => '125') %>

							 <%= render partial: "layouts/horizontal_slide", :locals => {
				                
				                :slide_title => "#{doc.searchable.title}".html_safe, 
				                :slide_text => "#{doc.content}".html_safe, 
				                :slide_image => @img, 
				               
								
								:slide_url => doc.searchable.link

				                } %>




							<% end %>


						<% end %>
					</div>
					</div>
			<% else %>
				<h3>No results found.</h3>
			<% end %>

		<!-- end of search results area -->
		

		<!-- <div class="col-lg-4 show-lower-right no-padding">
		</div> -->
		</div>
	</div>
</section>