<div class="main channel">
  <div class="container">
    <div class="content shorts">




<!-- page header; break off? -->

		<div class="row">
			<div class="col-xs-12 two-tone-banner text-center shorts-page-header red fill top bottom left right margin padding">
				<div class="vert-middle-wrap">
					<div class="vert-middle">
						<%= image_tag("channel_headers/tv.png", :class=> "tv-image") %>
					</div>
					<div class="vert-middle category-info darkred">
						<h1 class="page-title">
							SHORTS
						</h1>
						<h4 class="page-title hidden-xs">
							Today’s shorts could be tomorrow’s shows. Check out the latest in cartoons, live action and music and help POP these to the next level!
						</h4>
					</div>
					<div class="vert-middle">
						<%= image_tag("channel_headers/tv.png", :class=> "tv-image") %>
					</div>
				</div>
			</div>
		</div>

<!-- page header end; break off? -->


	<!-- getting groups, chunked of shorts to display -->



	<div class="row">

	<% @shorts.each do |short| %>

		<div class="col-md-3 col-sm-4 col-xs-6 show-episodes">

			<%= render partial: "layouts/vertical_slide", :locals => {
				:slide_title => short.title, 
				:slide_text => short.description.html_safe, 
				:slide_image => image_tag(short.image(:thumb), :alt => short.title, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
				:slide_url => episode_path(Episode.friendly.find(short.episodes.first.id))} %>


		</div>

	<% end %>

	</div>








		</div>
	</div>
</div>