<div class="main channel">
  <div class="container">
    <div class="content shorts">




<!-- page header; break off? -->
      <div class="row">
        <div class="col-xs-12 text-center shorts-page-header red fill top bottom left right margin padding ">
        
	 <div class="col-lg-2 col-xs-3 tv-image">    
          <%= image_tag("channel_headers/tv.png", :class=> "img-responsive pull-left") %>
        </div>
        <div class="col-lg-8 col-xs-6 page-header-description">  
           <h1 class="page-title">SHORTS</h1>
          <h4 class="page-title hidden-xs fill top left right margin padding ">Today’s shorts could be tomorrow’s shows. Check out the latest in cartoons, live action and music and help POP these to the next level! </h4>
        </div>
         <div class="col-lg-2 col-xs-3 tv-image">    
          <%= image_tag("channel_headers/tv.png", :class=> "img-responsive pull-right") %>
        </div>
		</div>
      </div>
<!-- page header end; break off? -->


	<!-- getting groups, chunked of shorts to display -->

<% @groups.each do |group| %>

	<div class="row">

	<% group.each do |short| %>

		<div class="col-md-2 col-sm-2 col-xs-12 show-episodes">

			<%= render partial: "layouts/vertical_slide", :locals => {
				:slide_title => short.title, 
				:slide_text => short.description.html_safe, 
				:slide_image => image_tag(short.image(:thumb), :alt => short.title, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
				:slide_url => episode_path(Episode.friendly.find(short.episodes.first.id))} %>


		</div>

	<% end %>

	</div>

<% end %>






		</div>
	</div>
</div>