<section class="wrapper">




<!-- page header; break off? -->

	<div class="row clearfix">
		<div class="col-md-12">
			<div class="banner theme-red">
				<div class="well well-frame">
				<h3>Shorts</h3>
				<p>Today’s shorts could be tomorrow’s shows. Check out the latest in cartoons, live action and music and help POP these to the next level!</p>
			</div>
		</div>
	</div>
</div>

<!-- page header end; break off? -->


	<!-- getting groups, chunked of shorts to display -->
<!-- episode_path(Episode.friendly.find(short.episodes.first.id)) -->


	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="short theme-red theme-invert">

				<div class="row clearfix">

					<% @shorts.each do |short| %>

						<div class="col-md-3 col-sm-4 col-xs-6 item">

							<%= render partial: "layouts/vertical_slide", :locals => {
								:slide_title => short.title, 
								:slide_text => short.description.html_safe, 
								:slide_image => image_tag(short.image(:thumb), :alt => short.title, :class => "img-responsive img-circle", :width => '110', :height => '110' ),
								# :slide_url => episode_path(Episode.friendly.find(short.episodes.first.id))
								:slide_url => "/shows/" + short.slug 

								} %>


						</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>


</section>