<section class="wrapper">

	<div class="row clearfix">

	<video id="viddler-test" class="video-js vjs-default-skin" controls preload="none" width="100%" height="100%" data-setup="{}"> 
	 <source src="/videotest" type='video/mp4' />
	</video> 

	</div>
</section>