<section class="wrapper wrapper-advert">

  <%= get_banner_embed %>

  <div class="row clearfix">
    <div class="col-md-4">
      
      <%=
      if(!draw_if_sidebar.nil?)
          render partial: 'layouts/page_sidebar_template',  :locals => {:sidebar => draw_if_sidebar}
      end
      %>

    </div>

    <div class="col-md-8">


     
      <h1>Contact Us!</h1>
          
         

      <div>
        Thanks for your message; we'll get back to you as soon as possible.
      </div>
      

  </div>
</section>