<section class="wrapper">

  <div class="row clearfix">
    <div class="col-md-3">
      <%= render 'layouts/about_sidebar' %>
    </div>

    <div class="col-md-9">


     
      <h1>Contact Us!</h1>
          
         

      <div>
        Thanks for your message; we'll get back to you as soon as possible.
      </div>
      

  </div>
</section>