<section class="wrapper">

	<div class="row clearfix">
		<div class="col-md-12">
			<div class="banner theme-blue">
					<div class="well well-frame">
						<h3>Our Creators</h3>
						<p></p>
					</div>
			</div>
		</div>
	</div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="short theme-green theme-invert">
			
				<% @creators.each do |creator| %>
					<% unless creator.hidden?  %>
					<% cache creator do %>
						<div class="col-md-3 col-sm-4 col-xs-6 item">
						
							<%= render partial: "layouts/vertical_slide", :locals => {
								:slide_title => creator.title, 
								:slide_text => "".html_safe,
								:slide_image => image_tag(creator.thumb),
								:slide_url => creator.link} %>


						</div>
					<% end %>
					<% end %>
				<% end %>


			</div>
		</div>	
	</div>
</section>