<section class="wrapper">

	<div class="row clearfix">

			<h3>All Creators</h3>

		Current	<%= current_user %><br />


			<% @creators.inspect %>
			
<%= @_request.session.id %>

			<%= @_request.inspect %>

			<% @_request.env['HTTP_USER_AGENT'].inspect %>

			REMOTE_ADDR
			HTTP_ACCEPT_LANGUAGE

	
	</div>
</section>