<section class="wrapper">
	<%= get_banner_embed %>
		
<!-- page header; break off? -->
	<div class="row clearfix">
		<div class="col-md-12">
			<div class="banner theme-blue">
				<div class="well well-frame">
					<h1><span class="lowercase">B</span>log</h1>
					<p>From hot topics to the coolest trends, the batteryPOP blog has a few words for everyone!</p>
				</div>
			</div>
		</div>
	</div>

<!-- page header end; break off? -->








<div class="row">
	<div class="col-md-8 column">
		<%= render 'layouts/post_list' %>
	</div>


	<!-- sidebar -->
	<div class="col-md-4 column sidebar">
		<%= render 'layouts/post_sidebar' %>
	</div>


</div>








	 <a href="https://plus.google.com/111613426507812683994" rel="me" style="color: white;">Google+</a>

</section>