<div class="main channel">
	<div class="container">
		<div class="content">



			<div class="row">
				<div class="col-xs-12 col-lg-9 col-md-9">
					<h1><%= @post.title %></h1>
					<%= @post.body.html_safe %>
				</div>


				<!-- sidebar -->
				<div class="col-lg-3 col-md-3">
					<%= render 'layouts/post_sidebar' %>
				</div>


			</div>








		</div>
	</div>
</div>