<section class="wrapper wrapper-advert">
	<%= get_banner_embed %>

	<div class="row clearfix">
		<div class="col-md-8 column">




			<div class="row clearfix">
				<div class="col-md-12">

					<%= render partial: "posts/post_single", :locals => {
						:post => @post, :post_content => true
					} %>

			</div>



		</div>

		<!-- sidebar -->
		<div class="col-md-4 column sidebar">
			<%= render 'layouts/post_sidebar' %>
		</div>
	</div>


	
		 <a href="https://plus.google.com/111613426507812683994" rel="me" style="color: white;">Google+</a>
</section>