// colors for batteryPOP

$gray: #878787; 
$blue: #428BCA;
$purple: #684389;
$gold: #FABB00;
$orange: #D6552D;
$green: #457A21;
$navy: #1B6581;
$red: #C90000;
$mint: #96D7C8;

$default-text-color: $gray;