//@import "bootstrap/variables";
//@import "bootstrap/mixins";


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* max-width 480px */
//@media(max-width: $screen-xs-min){
@media(max-width: 480px){
.sponsor.label {
display: inline;
position: relative;
}
.post {
  h1 {
    @include fontsize(3.0);
  }
  h3 {
    @include fontsize(1.8);

  }
}

.panel-split {
  .well {
    a {
    .thumb {
      display: block;
      float: none;
      margin: 0 auto 15px;
      overflow: hidden;
      width: 100%;
      max-width: 200px;
    }
    .summary {
      display: block;
      clear: both;
    }
  }
  }
}

.carousel .panel h3 {
  @include fontsize(3.0);
  line-height: 60px;


}


.vjs-default-skin .vjs-big-play-button {
width: 60px;
height: 60px;
margin-left: -30px;
margin-top: -30px;
border-radius: 50%;
@include fontsize(3.0);
  &:before {

  line-height: 60px;
  }
}


[class*="theme-"] {
  h3 {
    &:before, &:after {
      display: none;
    }
  }
}

.panel-nav .visible-xs {
display: none !important;
}

.footer-links {
  a {

    //@include fontsize(1.4);

  }

}

.folio {
  h4 {
@include fontsize(1.8);
  }

}


//
}




/* min-width 480px */
//@media(min-width: $screen-xs-min){
@media(min-width: 480px){


    .col-md-12 .carousel-horizontal li {
width: 200px !important;


}



footer.wrapper {
    br {
    display: none;
  }
}


//
}


@media(min-width: 600px){

.media-list .media-body {
  width: 60%;
}
    .col-md-12 .carousel-horizontal li {
width: 223px !important;
}
//
}

/* max-width 768px */
//@media (max-width: $screen-sm-min) {
@media (max-width: 768px) {

  .banner .well:after {
  display: none;

  }
  .banner .well:before {
  background-position: 50% 0;
  width: 100%;
  background-color: transparent !important;
  background-size: 120px auto;
  }
  .banner .well {
    padding-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
  }


  //
}


/* max-width 767px */
//@media (max-width: $screen-xs-max) {
  @media (max-width: 767px) {


// fix



.navbar-default ul.navbar-nav a {
    padding: 15px 0;
  }

  .navbar-default ul.navbar-nav a:hover {
    box-shadow: none;
  }
.navbar-header {
  overflow: hidden;
}

.navbar-default ul.navbar-nav {
box-shadow: none;
}

.navbar-default ul.navbar-nav li {
  margin: 0;
  padding: 0;
  width: 40%;
}
.panel-nav {

  .column {
    margin: 15px 0;
  }
  
  padding: 0;
  .visible-xs {
    display: inline !important;
  }
  ul {
 
  }
  li {
    width: 45%;
  
  }


}

//
}




/* min-width 768px */
//@media (min-width: $screen-sm-min) {
  @media (min-width: 768px) {
// fix


.navbar-form, .navbar-form .input-group {
  //width: 100%;
}

.media-list .media-body {
  width: 70%;
 // width: 60%;
}

.col-md-12 .carousel-horizontal li {
width: 223px !important;
}

body {
  background: url("#{$image-path}/bk.jpg") no-repeat $gold 50% 50% fixed;
  background-size: cover;

}

.container {

  &:before, &:after {
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    z-index: -5;
  }
    &:before {
    background: url("#{$image-path}/pipe-left.png") 0 0 repeat-y;
    left: -200px;

    }
    &:after {
    background: url("#{$image-path}/pipe-right.png") 0 0 repeat-y;
    right: -200px;
    }
}



.container-friends {

  &:before, &:after {
    width: 719px;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    z-index: -5;
  }
    &:before {
    background: url("#{$image-path}/ads/Yoshi-Skin-LEFT-v2.jpg") 0 0 repeat-y;
    left: -719px;

    }
    &:after {
    background: url("#{$image-path}/ads/Yoshi-Skin-RIGHT-v2.jpg") 0 0 repeat-y;
    right: -719px;
    }
}



.navbar-header {
  background: url("#{$image-path}/description.png") no-repeat 50% 50%;
}

//
}

/* min-width 992px */
//@media (min-width: $screen-md-min) {
  @media (min-width: 992px) {

  .tournament-media-list .media-body {
  width: 60%;
}

.headcrumb {
  //height: 150px;
  //overflow: hidden;


  > .column:first-child {
    //display: table;
    
      .well {
        //display: table-cell;
        vertical-align: middle;
      }
  }
  .description {
    padding-left: 15px;
  }

.arrow_box:after {
  content: "";
  border-style: solid;
  border-top-width: 80px;
  border-bottom-width: 80px;
  border-right-width: 0;
  border-left-width: 15px;
  border-color: transparent $lite;
  position: absolute;
  top: 50%;
  right: -15px;
  z-index: 2;
  margin-top: -80px;
  }

/*   .arrow_box:after {
  content: "";
  height: 100%;
  width: 15px;
  display: block;
  right: -15px;
  z-index: 2;
  background: url("#{$image-path}/headcrumb.svg") right 50% no-repeat;
  position: absolute;
  background-size: 15px 100%;
  } */

}

  .col-md-12 .carousel-horizontal li {
width: 220px !important;
}

.carousel-vertical {
  height: 304px !important;

  .bx-viewport {
  height: 100% !important;
  }

  .bx-wrapper {
  height: inherit !important;
  }
}

.sidebar .carousel-vertical {
  margin-bottom: 60px;
}
//  
}


/* max-width 992px */
//@media (max-width: $screen-md-min) {
  @media (max-width: 992px) {

.media-list {
  margin-bottom: 30px;
}

  .panel-split {
    .well {
      margin-bottom: 15px;
      min-height: inherit;
    }
  }
  .column.separator {
  margin-bottom: 30px;
  }
//
}


/* min-width 1200px */
//@media (min-width: $screen-lg-min) {
  @media (min-width: 1200px) {

  .col-md-12 .carousel-horizontal li {
width: 214px !important;
}

  //
}

/* max-width 1200px */
//@media (max-width: $screen-lg-min) {
  @media (max-width: 1200px) {
.links-bpop {
  display: block;
  text-align: center;
p {
  display: inline-block;
  margin-right: 15px;
}

}

//
}


/* min-width 1200px */
//@media (min-width: $screen-lg-min) {
  @media (min-width: 1200px) {

.row-featured {

  width: 1200px;
  left: -15px;

}
/* .corners {
background: transparent;
width: 100%;
height: 15px;
display: block;
position: absolute;
z-index: 2;
bottom: -15px;
left: 0;
  &:before, &:after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 0;
    border-style: solid;
    width: 0;
  }
  &:before {
    left: 0;
    border-width: 0 15px 15px 0;
    border-color: transparent rgba($dark, .7) transparent transparent;

  }
    &:after {
    right: 0;
    width: 0;
    border-width: 15px 15px 0 0;
    border-color: rgba($dark, .7) transparent transparent transparent;

  }
} */

.corners {
  display: none;
}
.carousel-vertical {
  height: 390px !important;

  .bx-viewport {
  height: 100% !important;
  }

  .bx-wrapper {
  height: inherit !important;
  }
}

//
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .container.container-friends {
    width: 992px !important;
  }

  .container-friends .carousel-vertical {
    height: 323px !important;
  }

  .container-friends .row-featured {
    width: 1022px !important;
  }

}

@media (min-width: 1600px) {
  .container.container-friends {
    width: 1170px !important;
  }

  .container-friends .carousel-vertical {
    height: 390px !important;
  }

  .container-friends .row-featured {
    width: 1200px !important;
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .container-friends .navbar-default ul.navbar-nav li {
    margin: 0 2%;
  }
}