/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bxslider
 *= require_tree .
 */

$icon-font-path:          "/" !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;


/* fonts */
@font-face{
font-family: RobotoSlab;
src: url('/RobotoSlab-Bold.ttf'),
     url('RobotoSlab-Light.ttf'),
     url('RobotoSlab-Regular.ttf'),
     url('RobotoSlab-Thin.ttf')
}

@font-face{
font-family: Anchor;
src: url('/assets/anchor_complete_ot/RobotoSlab-Black.ttf'),
     url('/assets/anchor_complete_ot/RobotoSlab-Bold.ttf'),
     url('/assets/anchor_complete_ot/RobotoSlab-Medium.ttf'),
     url('/assets/anchor_complete_ot/RobotoSlab-Semibold.ttf')
}


body {
	background: url(/assets/background/background_orange_boxes.jpg) repeat;
	font-family: 'Varela', sans-serif !important;
}

/* login / signup buttons*/

.btn-login{
	font-family: 'RobotoSlab';
	font-weight: 200;
}
.btn-login-group{
	width: 150px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 font-family: 'Varela', sans-serif !important;
  font-weight: 500;
  line-height: 1;
}

.show-player{
	height: 384px;
}


body .container{
	background-color: #ffffff;
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}


/* breadcrumb */
 .bpop-breadcrumb{
 	height: 100px;
	border-style: none;
	border-bottom: 1px solid aqua;
	border-top: 4px solid #ececec;
	background-color: #428BCA;
	padding: 0px;
}


.bpop-show-title{
	color: #428BCA;
	padding-left: 150px;
	background-color: #FFFFFF;
	height: 100%;
}

.bpop-show-description{
	padding: 10px 10px 10px 30px;
	color: #ffffff;
	background-color: #428BCA;
	height: 100px;
}


.bpop-breadcrumb .bpop-show-description{
	background: url(/assets/ui/breadcrumb-mid-left-edge.png) no-repeat;
}

.home .home-side-carousel{
	margin-left: -40px;
}

.container .row{
	padding: 15px;
}


h4.page-title{
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: black 0 1px 7px;
}

.channel-page-header{
	background-color: #28a0cd;
	height: 100px;
}


.circle .image-wrap {
	-webkit-border-radius: 45em;
	-moz-border-radius: 45em;
	border-radius: 45em;
}

/* fix for active admin highlight form */
#active_admin_content .highlight{
	background-color: transparent !important; 
}


/* main slider items */
.bpop-slider-header{
	background-color: #ffffff; 
	height: 65px !important;
	max-height: 65px;
	color: #000000;
	margin-bottom: 0px;
	padding: 0px;
}
.bpop-slider{
	background-color: #ffffff; 
	margin-top: 0px !important;
	padding-top: 0px;
}

/** buttons for slideshow **/
.slider-next, .slider-prev, .slider-up, .slider-down{
	width: 52px ;
	height: 56px;

}
.slider-next a, .slider-prev a, .slider-up a, .slider-down a{
	width: 52px ;
	height: 56px;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	text-indent: -9999px;
	z-index: 9999;
}

.slider-up a{
	background: url(/assets/ui/channel-slider-up-blue.png) no-repeat;
}
.slider-down a{
	background: url(/assets/ui/channel-slider-down-blue.png) no-repeat;
}

.slider-prev a{
	background: url(/assets/ui/channel-slider-back.png) no-repeat;
	
}

.slider-next a{
	background: url(/assets/ui/channel-slider-next.png) no-repeat;
	margin-left: -52px;
}

/** slider control colors **/
.home-most-popped-header a{
	background-color: #57307f !important;
}



.home-promoted-header a{
	background-color: #feb409 !important;
}
.home-most-popped li a.list-group-item{
	height: 130px !important;
}


/** shadow inward **/
.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.slight-shadow {
	-moz-box-shadow: 2px 2px 2px rgba(68,68,68,0.6);
	-webkit-box-shadow: 2px 2px 2px rgba(68,68,68,0.6);
	box-shadow: 2px 2px 2px rgba(68,68,68,0.6);
}

.shadow {
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

/* circular slides */

.vertical-slide{
	width: 165px;
	height: 300px;
}


.vertical-slide img{
	width: 135px;
	height: 135px;
}

.vertical-slide  img{
	 -moz-box-shadow:    inset 0 0 10px #000000;
	   -webkit-box-shadow: inset 0 0 10px #000000;
	   box-shadow:         inset 0 0 10px #000000;
}



/*  horizontal items */
.bpop-badge{
	color: #FFFFFF !important;
	border-radius: 0px !important;
	background-color: #e90006 !important;
	width: 50px !important;
}
.bpop-badge img{
	position: relative;
	display: block;
	top: 4px;
	left: -7px;
}

.bpop-badge-below{
	background-image: url(/assets/ui/bpop-badge-below.png);
}















/**  ANDREW ***/
/*

----------------------------
------ General Fonts -------
----------------------------

*/


h1,
h2,
h3,
h4,
h5,
p,
li
 {
	font-family:"Anchor", "Futura", Helvetica, Arial, sans-serif;
}

h4 { 
	font-weight:bold;
	font-size:18px;
	line-height:17px;
}

p {
	font-size:11px;
	line-height:13px;
	font-weight:normal;
}


/*

---------------------
------ HEADER -------
---------------------

*/

header {
	text-align:center;
}

header > .container {
	background-color:white;
}

header .container > .row{
	box-shadow:0px 0px 3px #CCC;
}

#branding {
	height:130px;
}

#branding img {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width:100%;
}

#logo {
	top: -30px;
	z-index:1;
}

#logoback {
	top: -50%;
	z-index:0;
}
	


/*

---------------------
--- LOGIN/SEARCH ----
---------------------

*/

#login-bar {
}


#login-bar a {
	text-transform:lowercase;
	font-family:"Roboto Slab", serif;
	font-weight:bold;
	color:white;
	font-size:13px;
	line-height:13px;
}

#login-bar p{
	border-style:solid;
	border-color:white;
	border-width:0 3px 3px;
	box-shadow: 0px 0px 10px #999;
	padding:10px 0;
	width:100%;
}

#login-bar p {
	vertical-align:middle;
	display:inline-block;
	margin-top: auto;
	margin-bottom: auto;
	color:white;
}

#signin p{
	background-color:#28a0cd;
}

#signup p{
	background-color:#684389;
}

#search {
	margin:15px 0;
	padding-bottom:0;
	z-index:1;
	position:relative;
}

#search input {
	height:25px;
	border:1px solid #dfdfdf;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAZCAIAAAB/8tMoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNosi4EJADAMwqL/39obpu2QIARlZiwwyPhapYmXrmnL4btQ526S/bOD+L+/3xNgACROAy3Kd9jdAAAAAElFTkSuQmCC) top left repeat-x;
	border-radius:0;
	color:#333;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height:25px;
	font-weight:300;
}

#search > div {
	padding:0;
	}


/*

---------------------
------ NAV ----------
---------------------

*/


#menu {
	list-style-type:none;
	padding-left: 0;
	background-color:white;
}

#menu:hover {
	z-index:1;
	position:relative;

}

#menu li {
	color:#28a0cd;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:3px;
}

#menu a {
	text-decoration:none;
	padding:10px 40px 10px;
}

#menu p {

	font-size: 30px;
	line-height: 30px;
	margin-bottom:0;
	margin-top:0;
	padding:10px 0px;
	width:100%;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA+CAYAAADqOXHxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBJREFUeNpi+Pbt230mBgYGMRDxG0QwoBOMjIwMWCXwy9JDgmJZYpXACFYQ8QogwAAcYAZXERNaogAAAABJRU5ErkJggg==) repeat-x;
	border-top:solid 3px #28a0cd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;	
	
}

#menu li.active p {
	padding-bottom:8px;
	border-bottom:solid 2px #28a0cd;
}

#menu:hover li p {
	border-bottom:none;
	text-decoration:none;
}

#menu li:hover p {
	padding-bottom:8px;
	border-bottom:solid 2px #28a0cd;
}


/* ------------------------
   -- home-side-carousel --
   ------------------------

<ul class="home-side-carousel">
	<li class="story"> ...
		<img>
		<h4>
		<p>
	</li>
</ul>
*/

.home-side-carousel {
	padding-left:6px;
	padding-right:6px;
	margin-left:auto !important;
	margin-right:auto !important;
	background-color:#f8f8f8;
	
}

.story {
	margin:0 auto !important;
	padding:6px;
	width:auto;
	border-width:0 1px 1px 0;
	border-color:#ececec;
	border-style:solid;
	box-shadow:0px 1px 3px #ccc;
	background-color:#f8f8f8;
}

.story a {
	padding:0;
	margin:0;
}
.story img {
	height:80px;
	width:80px;
	float:left;
	margin-right:12px;
}

.story h4 {
	font-color:#28a0cd;
}

.story p {
	font-color:#888888;
}

.home-side-carousel .story {
	height:90px;
	margin:1px auto;
	clear:left;
	width:180px !important; /*force fix on cached*/
}

.bx-prev,
.bx-next,
.button {
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	background-color:#28a0cd;
	width:30px;
	height:30px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
	border-radius:15px;
	margin:6px;
}

.button a {
	height:100%;
	width:100%;
}

#home-carousel-next .bx-prev,
.button.up {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAMCAYAAACA0IaCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP1JREFUeNqkkt1qwkAQRrO50JRabaG9N4IVfQbf/xnsfe8KNdYm/m7WM/BFUolG6MLHsJOZk5mdcSGEqO0452Liyra4+A7QK2aOffwXDMALZoRyNOX+cDP+WpskPmOG6AftUYKsug9ytnfDAA0wKVqiNTqiDjJ/Dy3I27W2KZBVlKECHdSm2V9pQlxyE0ZAX6CVQN5AVOEF9ILZt3fiu40wgVK9UQXKqpXAHvWTUq0XqrDzB4bjqQbKL0HV4X6oAa3CTR0Ya9zjWvmlQL5pYvj3AnpVaPeZ02Yb/UsPbKNdXgM1ACPBPvGF82oAfsN8t4EuBmZdJeTYCkUnAQYA9KCDg3teS7YAAAAASUVORK5CYII=);
}

#home-carousel-next .bx-next,
.button.down {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAMCAYAAACA0IaCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP1JREFUeNqUk8kOwjAMRElKEV1oy3aDMwf+/1dAgATcObAJUThQxmWKoq4QaWRn8auduCpJkpYMpVQfJsb83vpxIMaCGSDmIHPNxRFMBIXwO3+AhpADf5rC4CjYCZRBGoEESSUSa0NjrDk6+dS5IKwHWXVAgiJW5UI+tJHrScuE84RZScrc1ATaOZAmSIAeFEA7xF+/d5YDuswwA7ZLQK4BumQMbX4ZGw+YtZF+mgFL8wxQCO1NUAFGYMwMfcomyCYoIuhcuM+sz0ouugszg27Sf3yggKBTaUwVjEB5kLkkzBLl1Y5V53VdP/FvWLLMbR2oMTOzJXDu1XTuLcAAt9NicQb1TkwAAAAASUVORK5CYII=);
}

.slider-prev .bx-prev,
.button.left {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARFJREFUeNqMk01PwkAYhFlYQSQqJt7Vi8STB///3/Co3tUEcQWi1voMmepaaO0mk7cfz0zf7e6Gsix7/43AKA32O8BDyjX1VPexAzxDK3TIfRFb4FEGv/rxOjbA+5RLtEQJFeiFabzHhuQKVvJXBW/Nwckzp6Y6/McAPHZyqrXxkYdGwxPKFZoLQoLegD/rLfeBtRY3SAuzRvp82gVvDLxQn7dogIb+6oGDtsamJUxPWhQuz9y7/tAez+YO/P0x+V4CmFLOPZelzTIVPy3lbl4IvEfHasttTgka7DTYpL/0YNPEppPKFJq2N8AR5QIt3J7A59B2HjJT8tqsWs8DYUq/c3s6Q4+h44kbw2mb974FGACo+YCLXmmwrQAAAABJRU5ErkJggg==);
	
}

.slider-next .bx-next,
.button.right {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNqEk9kKwjAQRZtu2NalRX30B3zy///BD1DB5V1wA61FjXfgVkKZ1sClE3JPkplJjbXWk2GMSRA/vD/DCADzDPEU2mB+6wRoTKAI6kM7QNcuIIDGjFNo2AXVVxKogHwoI7TH2kUFmLRAOU+Uk0Ya9ANaoJzQWQUI+Q1IrnqA76QCDpSxcgJPoC28R1+rBBY++NyhF1RBb2guG4Vq6YwJnRN6LPlSNtJyiFihgI0Uretn06xSTLPvmFfwlFofXPOAFRLzU+t03LhGymuU2ltKaPa4c6Lt7AIFax1TYq5a3zdzkMYsBJB5l9ykJbb//rivAAMAAb+aEQPu+foAAAAASUVORK5CYII=);
}
/*

---------------------
------ UNIVERSAL ----
------  HELPERS  ----
---------------------

*/

	

.center {
	margin-left:auto;
	margin-right:auto;
}

	
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}







