/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require bxslider

 *= require_tree .
 */


// change colors
/*$link-color: red;*/

// import original bootstrap
@import "twitter/bootstrap";





.nav-toggle{
	background-color: #502a6e !important;
}


body {
	background: url(/assets/orange-box-tile-bg.jpg) repeat left top ;
	font-family: 'Varela', sans-serif !important;
}

div.sidebar{
	padding: 0px;
}

/* login  signup buttons */


.btn-login{
	font-family: 'RobotoSlab';
	font-weight: 200;
}

#login-popover-content, div.modal, .popover{
	z-index: 99999;
}



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
 font-family: 'Varela', sans-serif !important;
  font-weight: 500;
  line-height: 1;
}

.show-player{
	height: 384px;
}


.avatar-slider-parent .bx-viewport{
	height: auto !important;
}


body .container{
	background-color: #ffffff;
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}


/* breadcrumb */

 .bpop-breadcrumb{
 	height: 100px;
	border-style: none;
	border-bottom: 1px solid aqua;
	border-top: 4px solid #ececec;
	background-color: #428BCA;
	padding: 0px;
}


.bpop-show-title{
	color: #428BCA;
	padding-left: 150px;
	background-color: #FFFFFF;
	height: 100%;
}

.bpop-show-description{
	padding: 10px 10px 10px 30px;
	color: #ffffff;
	background-color: #428BCA;
	height: 100px;
}


.bpop-breadcrumb .bpop-show-description{
	background: url(/assets/ui/breadcrumb-mid-left-edge.png) no-repeat;
}

.bpop-breadcrumb .show-crumb-image{
	max-height: 110px;
	max-width: 110px;
	vertical-align: middle;
}

.home .home-side-carousel{
	margin-left: -40px;
}

.container .row{
	padding: 15px;
}


.page-title{
	color: #ffffff !important;
	text-shadow: black 0 0px 1px;
}

.circle .image-wrap {
	-webkit-border-radius: 45em;
	-moz-border-radius: 45em;
	border-radius: 45em;
}

/* fix for active admin highlight form */

#active_admin_content .highlight{
	background-color: transparent !important; 
}


/* main slider items */

.bpop-slider-header{
	background-color: inherit; 
	height: 53px !important;
	max-height: 65px;
	color: #000000;
	margin-bottom: 0px;
	padding: 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.bpop-slider{
	background-color: inherit; 
	margin-top: 0px !important;
	padding-top: 0px;
}

/*  buttons for slideshow */

.slider-next, .slider-prev, .slider-up, .slider-down{
	width: 52px;
	height: 56px;

}
.slider-next a, .slider-prev a, .slider-up a, .slider-down a{
	width: 52px;
	height: 56px;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	text-indent: -9999px;
	z-index: 1; 
}

.slider-up a{
	background: url(/assets/ui/channel-slider-up-blue.png) no-repeat;
}
.slider-down a{
	background: url(/assets/ui/channel-slider-down-blue.png) no-repeat;
}

.slider-prev a{
	background: url(/assets/ui/channel-slider-back.png) no-repeat;
	margin-left: -25px;
}

.slider-next a{
	background: url(/assets/ui/channel-slider-next.png) no-repeat;
	margin-left: -25px;
}

.slider-prev a{
	background: url(/assets/ui/channel-slider-back.png) no-repeat;
	margin-left: -25px;
}

.slider-next a{
	background: url(/assets/ui/channel-slider-next.png) no-repeat;
	margin-left: -25px;
}


/* slider control colors */

.home-most-popped-header a{
	background-color: #57307f !important;
}



.home-promoted-header a{
	background-color: #feb409 !important;
}
.home-most-popped li a.list-group-item{
	height: 130px !important;
}


/* shadow inward */

.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.slight-shadow {
	-moz-box-shadow: 2px 2px 2px rgba(68,68,68,0.6);
	-webkit-box-shadow: 2px 2px 2px rgba(68,68,68,0.6);
	box-shadow: 2px 2px 2px rgba(68,68,68,0.6);
}

.shadow {
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}


/* circular slides */

.vertical-slide{
	// width: 165px;
	height: 300px;
}


.vertical-slide img{
	width: 135px;
	height: 135px;
}

.vertical-slide  img{
	 -moz-box-shadow:    inset 0 0 10px #000000;
	   -webkit-box-shadow: inset 0 0 10px #000000;
	   box-shadow:         inset 0 0 10px #000000;
}


.show-episodes .bx-prev, .show-episodes .bx-next{
	margin-top: -135px !important;
}



/*  horizontal items */

h4.media-heading{
	font-family: "AnchorSemibold" !important;
}

.bpop-badge{
	color: #FFFFFF !important;
	border-radius: 0px !important;
	background-color: #e90006 !important;
	width: 50px !important;
}
.bpop-badge img{
	position: relative;
	display: block;
	top: 4px;
	left: -7px;
}

.bpop-badge .badge-box{
	position: relative;
	display: block;
	top: 4px;
	left: -7px;
	width: 52px;
	height: 46px;
	background-image: url(/assets/ui/bpop-badge-below-blank.png);
}

.bpop-badge .badge-box .glyphicon{
	display: block;
	height: 100%;
	width: 100%;
	zoom: 2;
	top: 5px;
	color: #3576be;
}



// .bpop-badge .badge-box .glyphshadow{
// 	height: 100%;
// 	width: 100%;
// 	zoom: 2;
// 	display: block;
// }


/*  voting + popping */
.pop, .follow{
	color: #E5E614 !important;
}
.unpop, .unfollow{
	color: transparent;
}

.user-image{
	margin:-10px 10px 0 0 !important;
}

footer{
	min-height: 50px;
}