.channel .vertical-slide{
	width: 195px !important;
	background-color: transparent !important;
}

.channel .bx-wrapper{

}

.channel .bpop-slider{
	padding-top: 0px;
}

.channel .bpop-slider .col-lg-12{
	padding-top: 15px;
}

.channel-icon{
	z-index: 1000;
	position: relative;
	display: inline-block;
	max-width: 90% !important;
}

.channel-header{
	height: 65px;
}

/** buttons for slideshow **/
.channel-next a, .channel-prev a{
	width: 52px !important;
	height: 56px !important;	
	position: absolute;
	top: 50%;
	margin-top: -28px;
	text-indent: -9999px;
	z-index: 9999;
}

.channel-prev a{
	background: url(/assets/ui/channel-slider-back.png) no-repeat;
	margin-left: -10px;
	
}
.channel-next a{
	background: url(/assets/ui/channel-slider-next.png) no-repeat;
	margin-left: -35px;
}


.channel-music{
	background-color: #684389 !important;
}
.channel-music img{
	max-width: 200px !important;
	top: -14px;
}


.channel-cartoons{
	background-color: #2cb0e1 !important;
}

.channel-cartoons img{
	margin-top: -20px;
}

.channel-comedy{
	background-color: #fbbb01 !important;
}

.channel-comedy img{
	margin-top: -20px;
	max-width: 250px;
}

.channel-video-games{
	background-color: #d6552d !important;
}
.channel-video-games img{
	max-width: 515px;
}

.channel-action-adventure{
	background-color: #457a21 !important;
}

.channel-science-math{
	background-color: #457a21 !important;
}

.channel-international{
	background-color: #c90000 !important;
}

.channel-international img{
	max-width: 380px;
	margin-top: -15px;
}