@import "colors";

.channel .vertical-slide{
	width: 195px !important;
	/* background-color: transparent !important; */
	background-color: #ffffff !important; 
}

.channel .bx-wrapper{

}

.channel .bpop-slider{
	padding-top: 15px;
}

.channel .bpop-slider .col-lg-12{
	padding-top: 15px;
}

.channel-icon{
	z-index: 1000;
	position: relative;
	display: inline-block !important;
	max-width: 90% !important;
	min-width: 200px !important;
	width: auto !important;
}

.channel-header{
	height: 65px;	
}

.bpop-slider-header {
	position:relative;
}

.channel-slider .bpop-slider-header:after {
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAASCAYAAAAzI3woAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNrM1V0LgjAUBuBNLaK86uOui/r/fy2jiwgz8/QOjjSWOXem4IEXK9zZw4GtTH0r4SyQFbJGcqQgoouKLK216X1GCLkjJfJEaqTh31VmrWn4+XJ67dAMJiqmxrigPtQBTZUEFYLpArkoHYPyYczYTU8fyEZV0kkNwXSty3p6ilFSjA8kQsVghoD6UHs+fVcHc5JihoL+nT7TfAuE2ejGmCO/+5BgQkAt4N3xPQfGbLrhzSuGVKEYCUgxgngS5nOKLHl6JSNqCSYUZKMa62JLrPuqcfJzz/gqFf4bkJV2Um9reuTewFODXJiKhYwFGr1mB9KBh2DySuY2oY8AAwBq5sK63MNKzQAAAABJRU5ErkJggg==);
	position: absolute;
	left: 0;
	top: 100%;
	width: 0;
	height: 0;
	content: "";
	z-index: 4;
	padding: 0;
	right: 0;
	margin: 0 auto;
}


.channel-slider.channel-music .bpop-slider-header:after,
.channel-slider.channel-music, .purple{
	background-color: #684389 !important;
}

.channel-slider.channel-music h4,
.channel-slider.channel-music p{
	color: #684389 !important;
}

.channel-music .channel-icon-header img{
	max-width: 200px !important;
	top: -14px;
}

.channel-slider.channel-cartoons .bpop-slider-header:after,
.channel-slider.channel-cartoons, .blue{
	background-color: #2cb0e1 !important;
}

.channel-slider.channel-cartoons h4,
.channel-slider.channel-cartoons p{
	color: #2cb0e1 !important;
}

.channel-cartoons .channel-icon-header img{
	margin-top: -20px;
}

.channel-slider.channel-comedy .bpop-slider-header:after,
.channel-slider.channel-comedy, .yellow{
	background-color: #fbbb01 !important;
}

.channel-slider.channel-comedy h4,
.channel-slider.channel-comedy p{
	color: #fbbb01 !important;
}

.channel-comedy .channel-icon-header img{
	margin-top: -20px;
	max-width: 250px;
}

.channel-slider.channel-video-games .bpop-slider-header:after,
.channel-slider.channel-video-games,
.tangerine{
	background-color: #d6552d !important;
}


.channel-slider.channel-video-games h4,
.channel-slider.channel-video-games p{
	color: #d6552d !important;
}

.channel-video-games .channel-icon-header img{
	margin-top: -5px;
}

.channel-slider.channel-action-adventure .bpop-slider-header:after,
.channel-slider.channel-action-adventure,
.green{
	background-color: #457a21 !important;
}


.channel-slider.channel-action-adventure h4,
.channel-slider.channel-action-adventure p{
	color: #457a21 !important;
}

.channel-action-adventure .channel-icon-header img{
	margin-top: -2px;
}

.channel-slider.channel-science-math .bpop-slider-header:after,
.channel-slider.channel-science-math,
.aqua{
	background-color: #1b6681 !important;
}

.channel-slider.channel-science-math h4,
.channel-slider.channel-science-math p{
	color: #1b6681 !important;
}

.channel-science-math .channel-icon-header img{
	margin-top: -6px;
}

.channel-slider.channel-international .bpop-slider-header:after,
.channel-slider.channel-international,
.red{
	background-color: #c90000 !important;
}

.channel-slider.channel-international h4,
.channel-slider.channel-international p{
	color: #c90000 !important;
}

.channel-international .channel-icon-header img{
	max-width: 380px;
	margin-top: -15px;
}


div.channel-icon-header {
	height:inherit;
}

.channel-slider,
.channel-slider * {
	background-color: transparent !important;
}

.channel div.vertical-slide img.img-circle {
	margin: 20px auto;
	-webkit-box-shadow: 3px 0 2px #444, -3px 0 2px #444;
	-ms-box-shadow: 3px 0 2px #444, -3px 0 2px #444;
	-o-box-shadow: 3px 0 2px #444, -3px 0 2px #444;
	-moz-box-shadow: 3px 0 2px #444, -3px 0 2px #444;
	box-shadow: 3px 0 2px #444, -3px 0 2px #444;

}

.user-video-slider div.vertical-slide,
.users-followed-slider div.vertical-slide,
.users-following-slider div.vertical-slide,
.user-video-slider div.vertical-slide,
.channel div.vertical-slide {
	height:280px;
	background-image:url('/assets/channel-li-bg-large.png');
	background-position: center -7px;
	background-repeat: no-repeat;
	text-align:center;
	width: 205px !important;
	-webkit-box-shadow: 2px 0 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 2px 0 2px rgba(0,0,0,0.1);box-shadow: 2px 0 2px rgba(0,0,0,0.1);
	-o-box-shadow: 2px 0 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 0 2px rgba(0,0,0,0.1);
	box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.users-followed-slider div.vertical-slide,
.users-following-slider div.vertical-slide{
	height:205px;
	background-position: center -24px;
}

.user-video-slider div.vertical-slide,
.users-followed-slider div.vertical-slide,
.users-following-slider div.vertical-slide{
	background-color: inherit;
}

.user-video-slider .vertical-slide:after,
.users-followed-slider .vertical-slide:after
.users-following-slider .vertical-slide:after,
.user-video-slider .vertical-slide:after,
.channel .vertical-slide:after {
	height:17px !important;
	border-bottom:2px solid white;
	bottom: 0 !important;
}

.users-followed-slider div.vertical-slide:after,
.users-following-slider div.vertical-slide:after{
	background-position: center 0px;
}

.channel div.vertical-slide h4 {
	margin: 5px;
}

.thumbnail.vertical-slide {
	border:none;
	-webkit-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	margin-bottom:0;
}
.channel .bx-wrapper {
	margin-bottom:5px;
}

.channel .bx-wrapper .bx-viewport {
	border:none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:none;
	-webkit-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	left:0;
}

.channel-slider {
	padding:10px;
}

.thumbnail .caption {
	padding:5px;
}

.main.channel .container .row {
	background-color: white;
	margin: 10px 5px;
	padding: 5px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.channel-slider .channel-icon-header h4.channel-name{
	color:white !important;
}
