.channel-music{
	background-color: #684389 !important;
}

.channel-cartoons{
	background-color: #2cb0e1 !important;
}

.channel-comedy{
	background-color: #fbbb01 !important;
}

.channel-video-games{
	background-color: #d6552d !important;
}

.channel-action-adventure{
	background-color: #457a21 !important;
}

.channel-science-math{
	background-color: #457a21 !important;
}

.channel-international{
	background-color: #c90000 !important;
}
}