@import "colors";

/* posts and categories */


/*div.post-sidebar{
	padding-right: 0px !important;
	padding-left: 0px;
}*/

.post-frame{
	/*float: left;*/
	width: 100%;
	img {
	/* max-width: 600px; */
	}

}



.post-sidebar .home-carousel-prewrapper{
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.post-sidebar .row div div ul {
	padding: 10px;
}

.post-sidebar .row div div ul li{
	padding-bottom: 10px;
}

.post-sidebar .row{
	margin-bottom: 10px !important;
}

ul.category-links {
	list-style-type: none;
	text-decoration: none;
	clear: both;
	padding: 0px;
	display: inline-block;
	margin: 0px;
}


li.category-title{
	float: left;
	margin-top: 0;
	/*padding: 2px 5px;
	background-color: #f8ae27;*/
	margin-right: 5px;
/*	line-height: 14px;*/
}

li.category-title h4{
	margin-top: 5px;
	margin-bottom: 5px;
}

li.category-title h4 a{
	color: #FFFFFF;
	font-weight: normal;
	font-style: normal;
	text-shadow: #000000 2px 2px 2px;

}

h1.post-title{
	margin: 0px;
	color: $blue;
}

h4.post-date{
	margin-top: 0px;
}

.post-featured-image{
	padding-bottom: 20px;
}

.post-body{
	width: 100%;
}


.post-frame p {
font-family: Varela, Arial, Helvetica, sans-serif !important;
}

.post-body p, .post-body li {
font-size: 15px;
line-height: 140%;
color: $blue;
}



.list-number {
padding-left: 0;
}

.list-number li {
list-style-type: none;
}

.list-number li .number {
font-size: 32px;
border-radius: 1000px;
border: 2px solid $blue;
height: 40px;
width: 40px;
text-align: center;
display: inline-block;
clear: both;
line-height: 110%;
margin: 5px 0;
}

.list-number li p {

}

.list-number li:before {

}

.list-number li p strong em {
font-size: 24px;
font-weight: normal;
font-style: normal;
display: block;
}

.channel div.vertical-slide {
background: url('/assets/channel-li-bg-neg-large.png') center top no-repeat;
}
.main.channel .container .row {
/*
margin: 0;
padding: 0;
*/
}

.channel div.vertical-slide {
width: 100% !important;
}

.post-sidebar .row:last-child {
margin-bottom: 0 !important;
}


.text-lower{
	text-transform: none;
}



.pagination {
  text-align: center;
  padding: 0.1em;
  cursor: default;
  width: 100%; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #28a0cd;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #28a0cd;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }