@import "colors";

.vote-block{
	height: 79px !important; 
	background-color: #FF0000; 
	width: 300px;
}

.vote-prompt{
	text-align: center;
	color: #ffffff !important;
	width: 100% !important;
	text-transform: uppercase;
}

.vote-block .pop-box{
	padding-top: 5px;
	background-color: #3376be;
	height: 100%;
}

.vote-block .follow-box{
	padding-top: 5px;
	background-color: #1e4269;
	height: inherit;
}

/* seems stupid but didn't want to keep using 'page-title' in non page-title places */
.font-white{
	color: #ffffff;
}