<% unless current_user.nil? %>
<div id="follow_show-<%= show.id %>" class="follow-show">
  <% if current_user.following?(show) %>
    <%= link_to(unfollow_show_path(show), 
        :remote => true, 
        :class => 'pop-button followed', 
        :title => "Stop Following '#{show.title}'", 
        :data => {:toggle=>"tooltip"} ) do %>
		<div class="plus voted"></div>
    <% end %>
  <% else %>
    <%= link_to(follow_show_path(show),
        :remote => true, 
        :class => 'pop-button', 
        :title => "Follow '#{show.title}'", 
        :data => {:toggle=>"tooltip"}) do %>
		<div class="plus"></div>
    <%end%>
  <% end %>
</div>
<% end %>