<a href="/about-batterypop"><h3 class="text-center"><span class="glyphicon glyphicon-plus-sign"></span>  About batteryPOP!  <span class="glyphicon glyphicon-plus-sign"></span></h3></a>
<div class="panel-body sidebar">

	<div class="list-group">
		<a href="/terms-and-conditions" class="list-group-item  <% if(@active=='terms') %> active<% end %>">
			<h4 class="list-group-item-heading ">Terms and Conditions</h4>
		</a>

		<a href="/privacy-policy" class="list-group-item <% if(@active=='privacy') %> active<% end %>">
			<h4 class="list-group-item-heading">Privacy Policy</h4>
		</a>

		<a href="/calling-all-creators" class="list-group-item <% if(@active=='creators') %> active<% end %>">
			<h4 class="list-group-item-heading">Calling All Creators!</h4>
		</a>

		<a href="/advertise-with-us" class="list-group-item <% if(@active=='advertise') %> active<% end %>">
		    <h4 class="list-group-item-heading">Advertise With Us!</h4>
	    </a>

	    <a href="/contact" class="list-group-item <% if(@active=='contact') %> active<% end %>">
		    <h4 class="list-group-item-heading">Contact Us!</h4>
	    </a>
	</div>


</div>