<h3 class="text-center"><span class="glyphicon glyphicon-plus-sign"></span>  About batteryPOP!  <span class="glyphicon glyphicon-plus-sign"></span></h3>
<div class="panel-body sidebar">

	<div class="list-group">
		<a href="/about/terms" class="list-group-item  <% if(@active=='terms') %> active<% end %>">
			<h4 class="list-group-item-heading ">Terms and Conditions</h4>
		</a>

		<a href="/about/privacy" class="list-group-item <% if(@active=='privacy') %> active<% end %>">
			<h4 class="list-group-item-heading">Privacy Policy</h4>
		</a>

		<a href="/about/creators" class="list-group-item <% if(@active=='creators') %> active<% end %>">
			<h4 class="list-group-item-heading">Calling All Creators!</h4>
		</a>

		<a href="/about/advertise" class="list-group-item <% if(@active=='advertise') %> active<% end %>">
		    <h4 class="list-group-item-heading">Advertise With Us!</h4>
	    </a>
	</div>


</div>