<!-- top most / breadcrumb area -->
<div class="row bpop-breadcrumb slight-shadow">
	<div class="col-lg-3 col-md-3 bpop-show-title text-right">
			<%= crumb_title %>
	</div> 
	<div class="col-lg-6 col-md-6 hidden-xs bpop-show-description">
		<div>
			<%= crumb_text %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 bpop-show-action">
			<% if !(local_assigns[:crumb_action].nil?) %><%= crumb_action %><% end %>
	</div>
</div>
<!-- end top most / breadcrumb area -->
<!-- #TODO: this view needs to be re-worked on smaller screens; css needs to be rethought -->