<!-- featured area on home page -->


<!-- jumbotron frame -->

<div id="carousel-example-generic" class="carousel slide" data-interval="5000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
   <% @features.each_with_index do |feature, pos| %>
	   <li data-target="#carousel-example-generic" data-slide-to="<% pos %>" <% if pos == 0 %>class="active"<% end %>></li>
   <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <% @features.each_with_index do |feature, pos| %>
    	<% if pos == 0 %>
		    <div class="item active">
		<% else %>
			<div class="item ">
		<% end %>
		      <img src="http://placehold.it/652x400&text=[vid]" alt="template">
		      <div class="carousel-caption"><h3><%= feature.title %></h3><%= feature.content.html_safe %></div>
		    </div>
   <% end %>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

