<footer class="wrapper clearfix">
					<div class="row clearfix footer-links">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<a href="/about-batterypop">
							About battery<span class="uppercase">POP</span>
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<a href="/terms-and-conditions">
							Terms and Conditions
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<a href="/privacy-policy">
							Privacy Policy
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<a href="/calling-all-creators">
							Calling All Creators!
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<a href="/advertise-with-us">
							Advertise With Us!
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<a href="/contact">
							Contact
							</a>
						</div>
					</div>
					<div class="row clearfix folio">
						<div class="col-md-12 column">
							<div class="panel panel-blue">
								<div class="panel-body">
									<h4 class="h3">&copy; 2014 <span class="lowercase">battery</span>POP <br />&nbsp;<i class="bpop-star"></i>&nbsp; All rights reserved.</h4>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- end wrapper footer -->
			</div>
			<!-- container -->


			<script type="text/javascript" src="javascripts/build/global.min.js"></script>
		</body>
	</html>





<script>
 $('.pop-button').popover();
</script>


<a href="https://plus.google.com/111613426507812683994" rel="publisher"></a>