<footer class="container" >
		<div class="row text-center fill padding margin top bottom">
			<div class="col-lg-10 col-lg-push-1 col-md-8 col-md-push-2">
				<div class="row fill padding margin top bottom ">
					<div class="col-lg-2 col-md-6">
						<a href="/about-batterypop">
							<h4>About batteryPOP</h4>
						</a>
					</div>
					<div class="col-lg-3 col-md-6">
						<a href="/terms-and-conditions">
							<h4>Terms and Conditions</h4>
						</a>
					</div>

					<div class="col-lg-2 col-md-6">
						<a href="/privacy-policy">
							<h4 >Privacy Policy</h4>
						</a>
					</div>

					<div class="col-lg-3 col-md-6">
						<a href="/calling-all-creators">
							<h4>Calling All Creators!</h4>
						</a>
					</div>

					<div class="col-lg-2 col-md-6">
						<a href="/advertise-with-us">
							<h4>Advertise With Us!</h4>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row"> 
		  <div class="col-lg-12 text-center">
		  <h3>©&nbsp;2013&nbsp;BatteryPOP <span class="glyphicon glyphicon-star"></span> All&nbsp;rights&nbsp;reserved.</h3>
		  </div>
		</div>


		
</footer>

<script>
 $('.pop-button').popover();
</script>


<a href="https://plus.google.com/111613426507812683994" rel="publisher"></a>