<div id="modalLinkJump" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
	    <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
			<h4 class="modal-title">YOU'RE LEAVING batteryPOP</h4>
		</div>
     <div class="modal-body"></div>
      <!-- dialog buttons -->
      <div class="modal-footer">
	      <button id="btnNo" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
	      <button id="btnYes" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>



	<footer class="wrapper clearfix">
		<div class="row clearfix footer-links">
			<div class="col-md-4 col-sm-6 col-xs-6">
				<a href="/about-batterypop">
				About battery<span class="uppercase">POP</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6">
				<a href="/terms-and-conditions">
				Terms and Conditions
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6">
				<a href="/privacy-policy">
				Privacy Policy
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6">
				<a href="/calling-all-creators">
				Calling All Creators!
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6">
				<a href="/advertise-with-us">
				Advertise With Us!
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6">
				<a href="/contact">
				Contact
				</a>
			</div>
		</div>
		<div class="row clearfix folio">
			<div class="col-md-12 column">
				<div class="panel panel-blue">
					<div class="panel-body">
						<h4 class="h3">&copy; <%= Date.today.year %> <span class="lowercase">battery</span>POP <br />&nbsp;<i class="bpop-star"></i>&nbsp; All rights reserved.</h4>
					</div>
				</div>
			</div>
		</div>
	</footer>
		<!-- end wrapper footer -->
</div>
	<!-- container -->