<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
		<div class="col-lg-1">
			<ul class="nav nav-pills nav-justified">
				<li><a href="#">Shows</a></li>
				<li><a href="#">Categories</a></li>
				<li><a href="/pages/about">About</a></li>
				<li><a href="#">Newest</a></li>
			</ul>
		</div>
   	
    </div>
  </nav>
</header>
