<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<!-- <div class="row">
	<div class="col-12">
		<div class="notice"><%= notice %></div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<%= alert %>
	</div>
</div> -->