<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="carousel carousel-horizontal theme-purple bpop-icon-bolt">
			<div class="panel">
				<div class="panel-head">
					<h3>Most Popped</h3>
				</div>
			</div>
			<ul>
				<% cache 'shows_most_popped', skip_digest: true do %>
				<% Episode.mostpopped(10).each do |episode| %>
					<li>

						 <%= render partial: "layouts/vertical_slide", :locals => {
							  	:slide_title => episode.slide_title.html_safe, 
							  	:slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'), 
							  	:slide_image => image_tag(episode.image(:thumb), :alt => episode.title, :class => "img-responsive img-circle"),
							  	:slide_url =>  episode.link, 
							  	:slide_class => !episode.friends.approved.empty? ? "sponsor": nil

							  	} %>

					
					</li>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<!-- carousel -->
</div>