<div class="row">
	<div class="bpop-slider-header">
		<div class="text-center home-most-popped-header">
			<div id="home-mostpopped-next" class="col-xs-1 slider-next pull-right"></div>
			<div id="home-mostpopped-prev" class="col-xs-1 slider-prev pull-left"></div>
			<div class="col-xs-12">
				<h4><span class="glyphicon glyphicon-flash"></span>Most Popped<span class="glyphicon glyphicon-flash"></span></h4>
			</div>
		</div>
	</div>
	<div class="row bpop-slider">
		<div class="col-lg-12">
			<ul class="bxslider home-most-popped">
				<% @episodes.each do |episode| %>
					<li>
				
						 <%= render partial: "layouts/horizontal_slide", :locals => {
									:slide_title => episode.title, 
								 	:slide_text => truncate_html(strip_tags(episode.description), length: 50, omission: '<b>...(more)</b>'), 
									:slide_image => image_tag(episode.image, :alt => episode.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '94', :height => '125'), 
									:slide_url => show_episode_path(episode.show, Episode.friendly.find(episode.id))} %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>