<div class="row bpop-slider-header">
	<div class="col-lg-12 text-center ">
		<div id="home-mostpopped-next" class="pull-right"></div>
		<div id="home-mostpopped-prev" class="pull-left"></div>
		<h4>Most Popped Videos</h4>
	</div>
</div>
<div class="row bpop-slider">
	<div class="col-lg-12">
		<ul class="bxslider home-most-popped">
			<% @shows.each do |show| %>
				<li>
				<div class="col-lg-3">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="<%= show.image %>" width="90" height="100%" />
						</a>
						<div class="media-body">
							<h5 class="media-heading"><%= show.title %></h5>
							<small><%= show.subtitle %></small>
						</div>
					</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>