<div class="row fill bottom margin padding home-most-popped-slider">
	<div class="bpop-slider-header">
		<div class="text-center home-most-popped-header">
			<div class="header-bg"><%= image_tag "most-popped-home-header-bg.png" %></div>
			<div id="home-mostpopped-next" class="col-xs-1 slider-next pull-right"></div>
			<div id="home-mostpopped-prev" class="col-xs-1 slider-prev pull-left"></div>
			<div class="col-xs-12 slider-title">
				<h4>Most Popped</h4>
			</div>
		</div>
	</div>
	<div class="row bpop-slider home-most-popped-body">
		<div class="col-lg-12 no-padding">
			<ul class="bxslider home-most-popped">
				<% Episode.mostpopped(10).each.each do |episode| %>
					<li>

						 <%= render partial: "layouts/vertical_slide", :locals => {
							  	:slide_title => episode.title, 
							  	:slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'), 
							  	:slide_image => image_tag(episode.image(:thumb), :alt => episode.title, :class => "img-responsive img-circle"),
							  	:slide_url => show_episode_path(episode.show, Episode.friendly.find(episode.id))} %>

					
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
		$('.home-most-popped').bxSlider({
		  	nextSelector: '#home-mostpopped-next',
			prevSelector: '#home-mostpopped-prev',
			nextText: 'NEXT', prevText: 'PREV',
		  	minSlides: 2,
			maxSlides: 5,
			responsive: true,
	  		touchEnabled: true,
	  		slideMargin: 6,
	  		slideWidth: 220,
			moveSlides: 2,
			pager: false
	  	});
	 
	});
</script>