<div class="row">
	<div class="col-lg-12">
		<h4>Most Popped Videos</h4>
	</div>
</div>
<div class="row">
	<div class="col-lg-3">
		    <div class="thumbnail">
		      <img src="http://placehold.it/352x198&amp;text=[vid]">
		      <div class="caption">
				  <h4>Video Title</h4>
				  <small><p>A short description about the linked video title.</p></small>
		        
		      </div>
		    </div>
	</div>
	<div class="col-lg-3">
		    <div class="thumbnail">
		      <img src="http://placehold.it/352x198&amp;text=[vid]">
		      <div class="caption">
				  <h4>Video Title</h4>
				  <small><p>A short description about the linked video title.</p></small>
		        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
		      </div>
		    </div>
	</div>
	<div class="col-lg-3">
		    <div class="thumbnail">
		      <img src="http://placehold.it/352x198&amp;text=[vid]">
		      <div class="caption">
				  <h4>Video Title</h4>
				  <small><p>A short description about the linked video title.</p></small>
		        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
		      </div>
		    </div>
	</div>
	<div class="col-lg-3">
		    <div class="thumbnail">
		      <img src="http://placehold.it/352x198&amp;text=[vid]">
		      <div class="caption">
				  <h4>Video Title</h4>
				  <small><p>A short description about the linked video title.</p></small>
		        <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn btn-default">Action</a></p>
		      </div>
		    </div>
	</div>
</div>