<!-- next up -->
<div class="col-md-4 column">
	<div class="carousel carousel-vertical theme-purple">
		<div class="panel panel-default">
			<div class="panel-head">
				<h3>Next Up</h3>
			</div>
		</div>
		<ul>
			<% Episode.nextup(@episode, 10).each do |most| %>
				<li>
				<%= render partial: "layouts/horizontal_slide", :locals => {
						:slide_title => most.slide_title.html_safe, 
					 	:slide_text => truncate_html(strip_tags(most.description), length: 60, omission: '<b>...(more)</b>'), 
						:slide_image => image_tag(most.image(:thumb), :alt => most.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '80', :height => '80'), 
						:slide_url =>  most.link
					} 
						%>
				</li>
			<% end %>	
	
		</ul>
	</div>
</div>
<!-- next up -->		