<div class="row home-carousel-prewrapper ">
	<div class="home-carousel-wrapper ">
		<div class="col-xs-12 home-carousel-header">
			<!-- <div id="home-carousel-down" class="slider-down pull-right col-xs-2 col-offset-xs-10"></div>
			<div id="home-carousel-up" class="slider-up pull-left col-xs-2"></div> -->
			<div class="col-xs-12 text-center slider-title">
				<h4>Latest Posts</h4>
			</div>
		</div>
		<div class="col-xs-12 home-carousel-slider">
			<ul class="bxslider home-side-carousel">
				<% Post.latest(10).each do |post| %>
				<li>
				<%= render partial: "layouts/horizontal_slide", :locals => {
										:slide_title => post.title, 
									 	:slide_text => '', 
										:slide_image => image_tag(post.featured_image(:thumb), :alt => post.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '80', :height => '80'), 
										#:slide_url => post_path(Post.friendly.find(post.id))
										
										:slide_url => "/posts/" + post.slug

										} %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>






<div class="row home-carousel-prewrapper ">
	<div class="home-carousel-wrapper ">
		<div class="col-xs-12 home-carousel-header">
			<div id="home-carousel-down" class="slider-down pull-right col-xs-2 col-offset-xs-10"></div>
			<div id="home-carousel-up" class="slider-up pull-left col-xs-2"></div>
			<div class="col-xs-8 col-offset-xs-2 text-center slider-title">
				<h4>Archives</h4>
			</div>
		</div>
		<div class="col-xs-12 home-carousel-slider">
			<ul class="bxslider home-side-carousel">
				
			</ul>
		</div>
	</div>
</div>