<div class="row clearfix">
	<div class="col-md-12 separator">
		<div class="text-center">
			<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>


<div class="row clearfix">
	<div class="col-md-12">

		<% @posts.each do |tpost| %>

			<%= render partial: "posts/post_single", :locals => {:post => tpost } %>

		<% end %>

	</div>
</div>


<div class="row clearfix">
	<div class="col-md-12 separator">
		<div class="text-center">
			<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</div>