<div class="row clearfix">
	<div class="col-md-12 column">

		<div class="carousel carousel-vertical theme-default">

			<div class="panel panel-default">
				<div class="panel-head">
						<h3>Latest Posts</h3>
				</div>
			</div>

			<ul>
				<% @latest.each do |latest_post| %>
					<li>

					<%= render partial: "layouts/horizontal_slide", :locals => {
						:slide_title => latest_post.title, 
					 	:slide_text => '', 
						:slide_image => image_tag(latest_post.featured_image(:thumb), :alt => latest_post.title), 
						:slide_url => latest_post.link

						} %>

					</li>
				<% end %>
				
			</ul>

		</div><!-- carousel -->
	</div><!-- col-inner -->

</div><!-- row-inner -->


<%= render 'layouts/ads/sidebar' %>

<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="carousel carousel-horizontal theme-purple">
			<div class="panel">
				<div class="panel-head">
					<h3>Most Popped</h3>
				</div>
			</div>
			<ul>
				<% cache 'shows_most_popped', skip_digest: true do %>
				<% Episode.mostpopped(10).each do |episode| %>
					<li>

					 <%= render partial: "layouts/vertical_slide", :locals => {
						  	:slide_title => episode.title, 
						  	:slide_text => truncate_html(strip_tags(episode.description), length: 100, omission: '<b>...(more)</b>'), 
						  	:slide_image => image_tag(episode.image(:thumb), :alt => episode.title),
						  	:slide_url => episode.link
						  	} %>
					
					</li>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
	<!-- carousel -->
</div>
<!-- row -->

<div class="row clearfix">
	<div class="col-md-12 column">
		<%= render 'layouts/ads/watch_and_find' %>
	</div>
</div>