<div class="carousel carousel-horizontal theme-gold bpop-icon-star">
	<div class="panel">
		<div class="panel-head">
			<h3>Check this out!</h3>
		</div>
	</div>

	<ul>
		<% @promoted.each do |show| %>
			<li>
				<%= render partial: "layouts/vertical_slide", :locals => {
					  	:slide_title => show.title, 
					  	:slide_text => truncate_html(strip_tags(show.description), length: 100, omission: '<b>...(more)</b>'), 
					  	:slide_image => image_tag(show.image(:thumb), :alt => show.title, :class => "img-responsive img-circle"),
					  	:slide_url => "/shows/" + show.slug
					  }
				%>

			</li>
		<% end %>
	</ul>
</div>