<!-- start promo --	>
<div class="row">
	<!-- large image right slideshow -->
	<div class="col-lg-9 col-push-3">
		
		<ul class="bxslider home-featured">
			<% @features.each do |feature| %>
				<li><%= feature.content.html_safe %></li>
			<% end %>

		</ul>
	</div>
	<!-- end large image right slideshow -->
	

	
		
	<div class="col-lg-3 col-pull-9">
		<div class="col-lg-12">
			<span id="home-carousel-prev"></span> | <span id="home-carousel-next"></span>
		</div>
		<ul class="bxslider home-side-carousel">
			<% @shows.each do |show| %>
				<li>
					<div class="media" style="height: 90px;">
						<a class="pull-left" href="#">
							<img class="media-object img-responsive" src="<%= show.image %>" width="80" height="80" />
						</a>
						<div class="media-body">
							<h5 class="media-heading"><%= show.title %></h5>
							<small><%= show.subtitle %></small>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
		
		
	</div>
	<!-- end show promo -->
</div>