<div class="bpop-slider-header">
	<div class="text-center home-promoted-header">
		<div class="header-bg"><img src="/assets/promoted-home-header-bg.png" /></div>
		<div id="home-promoted-next" class="slider-next pull-right"></div>
		<div id="home-promoted-prev" class="slider-prev pull-left"></div>
		<div class="col-xs-12 slider-title">
			<span class="glyphicon glyphicon-star"></span><h4>Promoted</h4><span class="glyphicon glyphicon-star"></span>
		</div>
	</div>
</div>

<div class="row bpop-slider">
	<div class="col-lg-12">
		<ul class="bxslider home-promoted">
				<% @shows.each do |show| %>
					<li>
					  <%= render partial: "layouts/vertical_slide", :locals => {
					  	:slide_title => show.title, 
					  	:slide_text => truncate_html(strip_tags(show.description), length: 100, omission: '<b>...(more)</b>'), 
					  	:slide_image => show.image(:thumb), 
					  	:slide_url => show_path(Show.friendly.find(show.id))} %>
					</li>
				<% end %>
		</ul>
  </div>
</div>