<!-- promo start -->
<div class="row bpop-promo fill bottom margin padding">
	<!-- large image right slideshow -->
	<div class="col-lg-9 col-lg-push-3 col-md-8 col-md-push-4 no-padding no-margin">
		<div class="home-featured-wrapper">
			<ul class="bxslider home-featured">
				<% @features.each do |feature| %>
					<li><%= feature.content.html_safe %></li>
				<% end %>

			</ul>
		</div>
	</div>
	<!-- end large image right slideshow -->
	

	
	<!-- begin vertical carousel -->	
	<div class="col-md-4 col-lg-3 col-lg-pull-9 col-md-pull-8 home-carousel  no-padding no-margin">
		<div class="row home-carousel-prewrapper">
			<div class="home-carousel-wrapper">
				<div class="col-xs-12 home-carousel-header">
					<div id="home-carousel-down" class="slider-down pull-right col-xs-2 col-offset-xs-10"></div>
					<div id="home-carousel-up" class="slider-up pull-left col-xs-2"></div>
					<div class="col-xs-8 col-offset-xs-2 text-center slider-title">
						<h4>Now Playing</h4>
					</div>
				</div>
				<div class="col-xs-12 home-carousel-slider">
					<ul class="bxslider home-side-carousel">
						<% @showlist.each do |show| %>
						<li>
							<%= render partial: "layouts/horizontal_slide", :locals => {
										:slide_title => show.title, 
									 	:slide_text => show.subtitle, 
										:slide_image => image_tag(show.image(:thumb), :alt => show.title, :class => "img-responsive thumbnail media-object pull-left show-episode-image", :width => '80', :height => '80'), 
										:slide_url => show_path(Show.friendly.find(show.id))} %>

						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end of vertical carousel -->
</div>
<!-- end show promo -->


<!--

$('.show-most-popped-carousel').bxSlider({
	  		nextSelector: '#show-popped-down',
			prevSelector: '#show-popped-up',
			// nextText: 'DOWN', prevText: 'UP',
	  		responsive: true,
	  		touchEnabled: true,
	  		mode: 'vertical',
			slideMargin: 2,
			minSlides: 3,
			moveSlides: 1,
			pager: false
		  }
	  	);

-->