<div class="btn-group btn-group-justified">
	<% if user_signed_in? %>
		<!-- buttons to login or signup -->
		<div class="btn-group">
			<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :id => "destroy", :class => "btn btn btn-blue btn-small btn-login" %>
		</div>
		<div class="btn-group">
			<%= link_to current_user.username, user_path(User.friendly.find(current_user.id)), :id => "login", :class => "btn btn-purple btn-small btn-login" %>
		</div>
		<!-- end buttons to login or signup -->
	<% else %>
		<!-- buttons to login or signup -->
		<div class="btn-group">
			<% link_to "Sign In", kpass_authorize_path, :class => "btn btn-blue", :data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true,  :content => "Log into batteryPOP through KPASS"}  %>

			<%= link_to (image_tag("kpass_login_signin_button.png")), kpass_authorize_path, :class => "btn btn-kpass", :data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true,  :content => "Log into batteryPOP through KPASS"}  %>
		</div>
	<!--	<div class="btn-group">
			<% link_to "Sign Up", kpass_new_path, :class => "btn btn-warning", :data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true,  :content => "Create a KPASS Profile."}  %>
			<% link_to (image_tag("kpass_signup_button.png")), kpass_new_path, :class => "btn btn-warning",  :data => {:toggle=>"popover", :trigger => 'hover', :placement => 'left', :html => true,  :content => "Create a KPASS Profile."} %>
		</div> -->
		<!-- end buttons to login or signup -->
	<% end %>
</div>

